@use 'sass:color';
@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/loading';
@use '../../styles/variables';

.questionResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include helpers.mobile {
    gap: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    gap: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    gap: variables.$desktop-layout-gutter;
  }

  .chips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include helpers.mobile {
      gap: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      gap: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      gap: variables.$desktop-layout-gutter;
    }

    .chip {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      overflow: hidden;

      @include helpers.mobile {
        padding: variables.$mobile-narrow-layout-gutter variables.$mobile-layout-gutter;
        column-gap: variables.$mobile-layout-gutter;
        border-radius: variables.$mobile-layout-gutter;

        @include helpers.fontSize(16px);
      }

      @include helpers.tablet {
        padding: variables.$tablet-narrow-layout-gutter variables.$tablet-layout-gutter;
        column-gap: variables.$tablet-layout-gutter;
        border-radius: variables.$tablet-layout-gutter;

        @include helpers.fontSize(22px);
      }

      @include helpers.desktop {
        padding: variables.$desktop-narrow-layout-gutter variables.$desktop-layout-gutter;
        column-gap: variables.$desktop-layout-gutter;
        border-radius: variables.$desktop-layout-gutter;

        @include helpers.fontSize(28px);
      }

      &.correct {
        background-color: colors.$green-1;

        span {
          background-color: colors.$green-2;
        }
      }

      &.incorrect {
        background-color: colors.$red-1;

        span {
          background-color: color.mix(colors.$gray-4, colors.$red-2, 10%);
        }
      }

      span {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: colors.$white;

        @include helpers.mobile {
          height: helpers.pxToRem(30px);
          border-radius: helpers.pxToRem(calc(30px / 2));
          padding: variables.$mobile-layout-gutter;
          column-gap: variables.$mobile-narrow-layout-gutter;

          @include helpers.fontSize(14px);
        }

        @include helpers.tablet {
          height: helpers.pxToRem(40px);
          border-radius: helpers.pxToRem(calc(40px / 2));
          padding: variables.$tablet-layout-gutter;
          column-gap: variables.$tablet-narrow-layout-gutter;

          @include helpers.fontSize(18px);
        }

        @include helpers.desktop {
          height: helpers.pxToRem(50px);
          border-radius: helpers.pxToRem(calc(50px / 2));
          padding: variables.$desktop-layout-gutter;
          column-gap: variables.$desktop-narrow-layout-gutter;

          @include helpers.fontSize(22px);
        }
      }

      .buttonOverlay {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        background-color: colors.$black-1-50;
        font-family: inherit;
        appearance: none;
        -o-appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        &:disabled {
          cursor: default;
        }

        &.loading {
          display: flex;
        }

        .loadingSpinner {
          @extend .loading-spinner;

          @include helpers.mobile {
            $--mobile-loading-spinner-size: calc(#{variables.$mobile-control-normal-height} * 1.5);
            @include loading.loading-spinner-dimensions($--mobile-loading-spinner-size, colors.$white, button-mobile-normal);
          }

          @include helpers.tablet {
            $--tablet-loading-spinner-size: calc(#{variables.$tablet-control-normal-height} * 1.5);
            @include loading.loading-spinner-dimensions($--tablet-loading-spinner-size, colors.$white, button-tablet-normal);
          }

          @include helpers.desktop {
            $--desktop-loading-spinner-size: calc(#{variables.$desktop-control-normal-height} * 1.5);
            @include loading.loading-spinner-dimensions($--desktop-loading-spinner-size, colors.$white, button-desktop-normal);
          }
        }

        .icon {
          @include helpers.mobile {
            @include helpers.fontSize(28px);
          }

          @include helpers.tablet {
            @include helpers.fontSize(33px);
          }

          @include helpers.desktop {
            @include helpers.fontSize(38px);
          }
        }
      }

      &:hover {
        .buttonOverlay {
          display: flex;
        }
      }
    }
  }
}
