@import '../../styles/colors';
@import '../../styles/helpers';
@import '../../styles/loading';

.questionResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include mobile {
    gap: $mobile-layout-gutter;
  }

  @include tablet {
    gap: $tablet-layout-gutter;
  }

  @include desktop {
    gap: $desktop-layout-gutter;
  }

  .chips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
      gap: $mobile-layout-gutter;
    }

    @include tablet {
      gap: $tablet-layout-gutter;
    }

    @include desktop {
      gap: $desktop-layout-gutter;
    }

    .chip {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      overflow: hidden;

      @include mobile {
        padding: $mobile-narrow-layout-gutter $mobile-layout-gutter;
        column-gap: $mobile-layout-gutter;
        border-radius: $mobile-layout-gutter;

        @include fontSize(16px);
      }

      @include tablet {
        padding: $tablet-narrow-layout-gutter $tablet-layout-gutter;
        column-gap: $tablet-layout-gutter;
        border-radius: $tablet-layout-gutter;

        @include fontSize(22px);
      }

      @include desktop {
        padding: $desktop-narrow-layout-gutter $desktop-layout-gutter;
        column-gap: $desktop-layout-gutter;
        border-radius: $desktop-layout-gutter;

        @include fontSize(28px);
      }

      &.correct {
        background-color: $green-1;

        span {
          background-color: $green-2;
        }
      }

      &.incorrect {
        background-color: $red-1;

        span {
          background-color: mix($gray-4, $red-2, 10%);
        }
      }

      span {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $white;

        @include mobile {
          height: pxToRem(30px);
          border-radius: pxToRem(calc(30px / 2));
          padding: $mobile-layout-gutter;
          column-gap: $mobile-narrow-layout-gutter;

          @include fontSize(14px);
        }

        @include tablet {
          height: pxToRem(40px);
          border-radius: pxToRem(calc(40px / 2));
          padding: $tablet-layout-gutter;
          column-gap: $tablet-narrow-layout-gutter;

          @include fontSize(18px);
        }

        @include desktop {
          height: pxToRem(50px);
          border-radius: pxToRem(calc(50px / 2));
          padding: $desktop-layout-gutter;
          column-gap: $desktop-narrow-layout-gutter;

          @include fontSize(22px);
        }
      }

      .buttonOverlay {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        background-color: $black-1-50;
        font-family: inherit;
        appearance: none;
        -o-appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        &:disabled {
          cursor: default;
        }

        &.loading {
          display: flex;
        }

        .loadingSpinner {
          @extend .loading-spinner;

          @include mobile {
            $--mobile-loading-spinner-size: calc($mobile-control-normal-height * 1.5);
            @include loading-spinner-dimensions($--mobile-loading-spinner-size, $white, button-mobile-normal);
          }

          @include tablet {
            $--tablet-loading-spinner-size: calc($tablet-control-normal-height * 1.5);
            @include loading-spinner-dimensions($--tablet-loading-spinner-size, $white, button-tablet-normal);
          }

          @include desktop {
            $--desktop-loading-spinner-size: calc($desktop-control-normal-height * 1.5);
            @include loading-spinner-dimensions($--desktop-loading-spinner-size, $white, button-desktop-normal);
          }
        }

        .icon {
          @include mobile {
            @include fontSize(28px);
          }

          @include tablet {
            @include fontSize(33px);
          }

          @include desktop {
            @include fontSize(38px);
          }
        }
      }

      &:hover {
        .buttonOverlay {
          display: flex;
        }
      }
    }
  }
}
