@import '../../styles/helpers.scss';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mobile {
    column-gap: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    column-gap: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    column-gap: $desktop-narrow-layout-gutter;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex: 1;

    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }

    @include mobile {
      column-gap: $mobile-narrow-layout-gutter;
    }

    @include tablet {
      column-gap: $tablet-narrow-layout-gutter;
    }

    @include desktop {
      column-gap: $desktop-narrow-layout-gutter;
    }
  }

  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;

    @include mobile {
      @include fontSize(16px);
    }

    @include tablet {
      @include fontSize(18px);
    }

    @include desktop {
      @include fontSize(20px);
    }
  }
}