@use '../../../../../../../../../styles/colors';
@use '../../../../../../../../../styles/helpers';
@use '../../../../../../../../../styles/variables';

.pinQuestionField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;

  .overlay {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    @include helpers.mobile {
      padding: variables.$mobile-narrow-layout-gutter * 0.5;
    }

    @include helpers.tablet {
      padding: variables.$tablet-narrow-layout-gutter * 0.5;
    }

    @include helpers.desktop {
      padding: variables.$desktop-narrow-layout-gutter * 0.5;
    }

    .actions {
      display: flex;
      flex-direction: row;
      background-color: colors.$white-1-80;

      @include helpers.mobile {
        padding: variables.$mobile-narrow-layout-gutter * 0.5;
        column-gap: variables.$mobile-narrow-layout-gutter * 0.5;
        border-radius: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        padding: variables.$tablet-narrow-layout-gutter * 0.5;
        column-gap: variables.$tablet-narrow-layout-gutter * 0.5;
        border-radius: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        padding: variables.$desktop-narrow-layout-gutter * 0.5;
        column-gap: variables.$desktop-narrow-layout-gutter * 0.5;
        border-radius: variables.$desktop-control-normal-border-radius;
      }
    }
  }
}
