@use '../../styles/inputs';
@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

$mobile-select-normal-size: calc(#{variables.$mobile-control-normal-height} * 0.4);
$tablet-select-normal-size: calc(#{variables.$tablet-control-normal-height} * 0.4);
$desktop-select-normal-size: calc(#{variables.$desktop-control-normal-height} * 0.4);

.inputContainer {
  display: flex;
  flex-direction: column;

  .selectInputContainer {
    @extend .input;

    .selectIcon {
      position: absolute;
      color: colors.$control-text-normal-color;

      @include helpers.mobile {
        width: $mobile-select-normal-size;
        height: $mobile-select-normal-size;
        right: variables.$mobile-control-normal-layout-gutter;
      }

      @include helpers.tablet {
        width: $tablet-select-normal-size;
        height: $tablet-select-normal-size;
        right: variables.$tablet-control-normal-layout-gutter;
      }

      @include helpers.desktop {
        width: $desktop-select-normal-size;
        height: $desktop-select-normal-size;
        right: variables.$desktop-control-normal-layout-gutter;
      }
    }

    &:has(> select:disabled) {
      .selectIcon {
        color: colors.$control-text-disabled-color;
      }
    }

    &.selectInputKindPrimary {
      @extend .input-kind-primary;
    }

    &.selectInputKindSecondary {
      @extend .input-kind-secondary;
    }

    &.selectInputSizeSmall {
      @extend .input-size-small;
    }
  }

  .errorContainer {
    @extend .input-error;
  }

  @include helpers.mobile {
    row-gap: variables.$mobile-control-normal-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-control-normal-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-control-normal-layout-gutter;
  }
}
