@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.details {
  display: grid;
  border-style: solid;
  border-color: colors.$white-1-50;
  background-color: colors.$white-1-80;

  @include helpers.mobile {
    grid-template-columns: 1fr 1fr;
    gap: variables.$mobile-narrow-layout-gutter;
    width: 100%;
    border-width: helpers.pxToRem(2px);
    border-radius: variables.$mobile-narrow-layout-gutter;
    padding: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    grid-template-columns: 1fr 1fr 1fr;
    gap: variables.$tablet-narrow-layout-gutter;
    width: variables.$tablet-width;
    border-width: helpers.pxToRem(3px);
    border-radius: variables.$tablet-narrow-layout-gutter;
    padding: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: variables.$desktop-narrow-layout-gutter;
    width: variables.$tablet-width;
    border-width: helpers.pxToRem(4px);
    border-radius: variables.$desktop-narrow-layout-gutter;
    padding: variables.$desktop-narrow-layout-gutter;
  }

  .item {
    display: flex;
    flex-direction: column;
    color: colors.$gray-4;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include helpers.mobile {
      gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);

      @include helpers.fontSize(16px);
    }

    @include helpers.tablet {
      gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);

      @include helpers.fontSize(20px);
    }

    @include helpers.desktop {
      gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);

      @include helpers.fontSize(18px);
    }
  }
}
