@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include helpers.mobile {
    gap: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    gap: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    gap: variables.$desktop-layout-gutter;
  }

  &.flexibleHeight {
    flex: 0 0 auto;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    flex: 1;
    min-height: 0;
    overflow: auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .iconInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: colors.$white-1-50;
      font-weight: bold;

      @mixin info-dimensions($size) {
        column-gap: $size * 0.4;
        height: $size;
        padding: 0 $size * 0.5;
        border-radius: calc($size / 2);

        svg {
          @include helpers.fontSize($size * 0.5);
        }

        span {
          margin-top: -($size * 0.075);
          @include helpers.fontSize($size * 0.6);
        }
      }

      @include helpers.mobile {
        @include info-dimensions(26px);
      }

      @include helpers.tablet {
        @include info-dimensions(36px);
      }

      @include helpers.desktop {
        @include info-dimensions(46px);
      }
    }

    .value {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      font-weight: bold;
      background-color: colors.$white-1-50;

      @include helpers.mobile {
        padding: 0;
        @include helpers.fontSize(16px);
      }

      @include helpers.tablet {
        padding: 0.25rem;
        @include helpers.fontSize(26px);
      }

      @include helpers.desktop {
        padding: 0.5rem;
        @include helpers.fontSize(36px);
      }

      &.fullWidth {
        width: 100%;

        @include helpers.mobile {
          @include helpers.fontSize(16px);
        }

        @include helpers.tablet {
          @include helpers.fontSize(36px);
        }

        @include helpers.desktop {
          @include helpers.fontSize(46px);
        }
      }
    }
  }
}