@use '../../styles/animations';
@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.floatingOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$black-1-80;
  z-index: variables.$modal-z-index;

  @include helpers.mobile {
    padding: variables.$mobile-medium-layout-gutter;
  }

  @include helpers.tablet {
    padding: variables.$tablet-medium-layout-gutter;
  }

  @include helpers.desktop {
    padding: variables.$desktop-medium-layout-gutter;
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    background-color: colors.$white;
    color: colors.$gray-4;
    width: variables.$mobile-width;
    max-height: 100%;
    overflow: hidden;

    @media (prefers-reduced-motion: no-preference) {
      animation: fadeInUp 0.5s ease-out;
    }

    @include helpers.mobile {
      padding: variables.$mobile-medium-layout-gutter;
      row-gap: variables.$mobile-medium-layout-gutter;
      border-radius: variables.$mobile-border-radius;
    }

    @include helpers.tablet {
      max-height: 90%;
      padding: variables.$tablet-medium-layout-gutter;
      row-gap: variables.$tablet-medium-layout-gutter;
      border-radius: variables.$tablet-border-radius;
    }

    @include helpers.desktop {
      max-height: 80%;
      padding: variables.$desktop-medium-layout-gutter;
      row-gap: variables.$desktop-medium-layout-gutter;
      border-radius: variables.$desktop-border-radius;
    }

    &.sizeNormal {
      @include helpers.mobile {
        width: 100%;
      }

      @include helpers.tablet {
        width: variables.$mobile-width;
      }

      @include helpers.desktop {
        width: variables.$mobile-width;
      }
    }

    &.sizeLarge {
      @include helpers.mobile {
        width: 100%;
      }

      @include helpers.tablet {
        width: variables.$tablet-width;
      }

      @include helpers.desktop {
        width: variables.$tablet-width;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        flex: 1;

        @include helpers.mobile {
          @include helpers.fontSize(16px);
        }

        @include helpers.tablet {
          @include helpers.fontSize(20px);
        }

        @include helpers.desktop {
          @include helpers.fontSize(24px);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      @include helpers.mobile {
        row-gap: variables.$mobile-medium-layout-gutter;

        @include helpers.fontSize(16px);
      }

      @include helpers.tablet {
        row-gap: variables.$tablet-medium-layout-gutter;

        @include helpers.fontSize(18px);
      }

      @include helpers.desktop {
        row-gap: variables.$desktop-medium-layout-gutter;

        @include helpers.fontSize(20px);
      }
    }
  }
}
