@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/helpers.scss';

$outline-offset: pxToRem(2px);

.gameModeSelectionModalWrapper {
  display: flex;
  flex-direction: row;

  @include mobile {
    column-gap: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    column-gap: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    column-gap: $desktop-narrow-layout-gutter;
  }

  .classic, .zeroToOneHundred {
    display: flex;
    flex-direction: column;
    flex: 1;
    appearance: none;
    background-color: mix($white, $blue-2, 75%);
    outline: mix($white, $blue-2, 75%) solid $outline-offset;
    outline-offset: $outline-offset;
    border: $outline-offset solid transparent;
    margin: calc($outline-offset * 2);
    color: $gray-4;
    font-weight: bold;
    cursor: pointer;

    @include mobile {
      row-gap: $mobile-narrow-layout-gutter * 0.5;
      padding: pxToRem(10px) pxToRem(2px);
      border-width: pxToRem(1px);
      border-radius: $mobile-border-radius;

      @include fontSize(16px);
    }

    @include tablet {
      row-gap: $tablet-narrow-layout-gutter * 0.5;
      padding: pxToRem(13px) pxToRem(4px);
      border-width: pxToRem(2px);
      border-radius: $tablet-border-radius;

      @include fontSize(18px);
    }

    @include desktop {
      row-gap: $desktop-narrow-layout-gutter * 0.5;
      padding: pxToRem(16px) pxToRem(6px);
      border-width: pxToRem(3px);
      border-radius: $desktop-border-radius;

      @include fontSize(20px);
    }

    &:hover {
      background-color: mix($white, $blue-2, 85%);
      outline-color: mix($white, $blue-2, 85%);
      color: mix($white, $gray-4, 30%);
    }

    .description {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-weight: normal;

      @include mobile {
        line-height: pxToRem(18px);

        @include fontSize(12px);
      }

      @include tablet {
        line-height: pxToRem(21px);

        @include fontSize(14px);
      }

      @include desktop {
        line-height: pxToRem(24px);

        @include fontSize(16px);
      }
    }
  }
}