version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "@klurigo/common"
      - dependency-name: "@types/node"
        update-types: [ "version-update:semver-major" ]
      - dependency-name: "@eslint/js"
        update-types: [ "version-update:semver-major" ]
      - dependency-name: "eslint"
        update-types: [ "version-update:semver-major" ]
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-actions:
        patterns:
          - "*"
