@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.nicknameTextFieldContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include helpers.mobile {
    column-gap: variables.$mobile-narrow-layout-gutter
  }

  @include helpers.tablet {
    column-gap: variables.$tablet-narrow-layout-gutter
  }

  @include helpers.desktop {
    column-gap: variables.$desktop-narrow-layout-gutter;
  }

  > :first-child {
    flex: 1;
  }
}