@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.quizTable {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: variables.$mobile-narrow-layout-gutter;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-narrow-layout-gutter;
    width: variables.$tablet-width;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-narrow-layout-gutter;
    width: variables.$tablet-width;
  }

  .rows {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      row-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      row-gap: variables.$desktop-narrow-layout-gutter;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      text-decoration: none;
      color: colors.$gray-4;
      font-family: inherit;
      appearance: none;
      border: none;
      outline: none;

      &:hover {
        background-color: colors.$gray-1;
        cursor: pointer;
      }

      @include helpers.mobile {
        padding: variables.$mobile-narrow-layout-gutter;
        column-gap: variables.$mobile-narrow-layout-gutter;
        border-radius: variables.$mobile-border-radius;
      }

      @include helpers.tablet {
        padding: variables.$tablet-narrow-layout-gutter;
        column-gap: variables.$tablet-narrow-layout-gutter;
        border-radius: variables.$tablet-border-radius;
      }

      @include helpers.desktop {
        padding: variables.$desktop-narrow-layout-gutter;
        column-gap: variables.$desktop-narrow-layout-gutter;
        border-radius: variables.$desktop-border-radius;
      }

      img {
        object-fit: cover;

        @mixin image-size($width) {
          width: $width;
          height: calc(#{$width} * 0.875);
        }

        @include helpers.mobile {
          display: none;
        }

        @include helpers.tablet {
          border-radius: variables.$tablet-border-radius;

          @include image-size(110px);
        }

        @include helpers.desktop {
          border-radius: variables.$desktop-border-radius;

          @include image-size(118px);
        }

        &.svg {
          filter: invert(54%) sepia(7%) saturate(725%) hue-rotate(167deg) brightness(102%) contrast(90%);
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        max-width: 100%;

        @include helpers.mobile {
          row-gap: variables.$mobile-narrow-layout-gutter * 0.5;
        }

        @include helpers.tablet {
          row-gap: variables.$tablet-narrow-layout-gutter * 0.5;
        }

        @include helpers.desktop {
          row-gap: variables.$desktop-narrow-layout-gutter * 0.5;
        }

        .title {
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;

          @include helpers.mobile {
            @include helpers.fontSize(16px);
          }

          @include helpers.tablet {
            @include helpers.fontSize(20px);
          }

          @include helpers.desktop {
            @include helpers.fontSize(24px);
          }
        }

        .description {
          font-weight: normal;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: colors.$gray-3;

          @include helpers.mobile {
            @include helpers.fontSize(16px);
          }

          @include helpers.tablet {
            @include helpers.fontSize(18px);
          }

          @include helpers.desktop {
            @include helpers.fontSize(20px);
          }
        }

        .details {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;

          @include helpers.mobile {
            column-gap: variables.$mobile-narrow-layout-gutter;
          }

          @include helpers.tablet {
            column-gap: variables.$tablet-narrow-layout-gutter;
          }

          @include helpers.desktop {
            column-gap: variables.$desktop-layout-gutter;
            row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.3);
          }

          span {
            display: flex;
            flex-direction: row;
            align-items: center;

            @include helpers.mobile {
              column-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
              @include helpers.fontSize(14px);
            }

            @include helpers.tablet {
              column-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
              @include helpers.fontSize(16px);
            }

            @include helpers.desktop {
              column-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
              @include helpers.fontSize(18px);
            }
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include helpers.mobile {
      column-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      column-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      column-gap: variables.$desktop-narrow-layout-gutter;
    }

    .navigation {
      display: flex;
      flex-direction: row;
      flex: 1;

      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }

      @include helpers.mobile {
        column-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        column-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        column-gap: variables.$desktop-narrow-layout-gutter;
      }
    }

    .page {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 1;

      @include helpers.mobile {
        @include helpers.fontSize(16px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(18px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(20px);
      }
    }
  }
}
