@use '../../../../../../styles/colors';
@use '../../../../../../styles/helpers';
@use '../../../../../../styles/variables';

.questionEditorContainer, .section {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-narrow-layout-gutter;
  }

  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include helpers.mobile {
      gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      gap: variables.$desktop-narrow-layout-gutter;
    }
  }
}