@use 'sass:color';
@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.dropzone {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .base {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: colors.$gray-1;
    border-style: dashed;
    background-color: color.mix(colors.$white, colors.$gray-1, 75%);
    color: colors.$gray-2;
    text-align: center;
    outline: none;
    transition: border .24s ease-in-out;
    cursor: pointer;

    @include helpers.mobile {
      padding: calc(#{variables.$mobile-control-normal-layout-gutter} * 2) #{variables.$mobile-control-normal-layout-gutter};
      border-width: variables.$control-outside-border-width;
      border-radius: variables.$mobile-control-normal-border-radius;
      min-height: 120px;
    }

    @include helpers.tablet {
      padding: calc(#{variables.$tablet-control-normal-layout-gutter} * 2) #{variables.$tablet-control-normal-layout-gutter};
      border-width: variables.$control-outside-border-width;
      border-radius: variables.$tablet-control-normal-border-radius;
      min-height: 140px;
    }

    @include helpers.desktop {
      padding: calc(#{variables.$desktop-control-normal-layout-gutter} * 2) #{variables.$desktop-control-normal-layout-gutter};
      border-width: variables.$control-outside-border-width;
      border-radius: variables.$desktop-control-normal-border-radius;
      min-height: 160px;
    }
  }

  .focused {
    border-color: colors.$blue-1;
  }

  .accept {
    border-color: colors.$green-1;
  }

  .reject {
    border-color: colors.$red-1;
  }
}
