@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.pageDivider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (prefers-reduced-motion: no-preference) {
    animation: growWidth 0.5s ease-out 0.1s both;
  }

  @include helpers.mobile {
    width: 100%;
    margin: variables.$mobile-layout-gutter 0;
  }

  @include helpers.tablet {
    width: variables.$tablet-width;
    margin: variables.$tablet-layout-gutter 0;
  }

  @include helpers.desktop {
    width: variables.$desktop-width;
    margin: variables.$desktop-layout-gutter 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 8%;
    right: 8%;
    background: linear-gradient(
        to right,
        transparent 0%,
        colors.$white-1-40 15%,
        colors.$white-1-70 50%,
        colors.$white-1-40 85%,
        transparent 100%
    );

    @include helpers.mobile {
      height: helpers.pxToRem(1px);
    }

    @include helpers.tablet {
      height: helpers.pxToRem(2px);
    }

    @include helpers.desktop {
      height: helpers.pxToRem(2px);
    }
  }
}

@keyframes growWidth {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
