@import '../../styles/colors';
@import '../../styles/helpers';

$--mobile-font-size: 16px;
$--mobile-line-height: pxToRem($--mobile-font-size);

$--tablet-font-size: 20px;
$--tablet-line-height: pxToRem($--tablet-font-size);

$--desktop-font-size: 24px;
$--desktop-line-height: pxToRem($--desktop-font-size);

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white-1-50;

  @include mobile {
    border-radius: $mobile-narrow-layout-gutter;
    padding: $mobile-narrow-layout-gutter;
    width: 100%;
    max-height: calc($mobile-narrow-layout-gutter * 2 + $--mobile-line-height);
  }

  @include tablet {
    border-radius: $tablet-narrow-layout-gutter;
    padding: $tablet-narrow-layout-gutter;
    width: $tablet-width;
    max-height: calc($tablet-narrow-layout-gutter * 2 + $--tablet-line-height);
  }

  @include desktop {
    border-radius: $desktop-narrow-layout-gutter;
    padding: $desktop-narrow-layout-gutter;
    width: $desktop-width;
    max-height: calc($desktop-narrow-layout-gutter * 2 + $--desktop-line-height);
  }

  .questions, .gamePIN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include mobile {
      column-gap: $mobile-narrow-layout-gutter;
      line-height: $--mobile-line-height;

      @include fontSize($--mobile-font-size);
    }

    @include tablet {
      column-gap: $tablet-narrow-layout-gutter;
      line-height: $--tablet-line-height;

      @include fontSize($--tablet-font-size);
    }

    @include desktop {
      column-gap: $desktop-narrow-layout-gutter;
      line-height: $--desktop-line-height;

      @include fontSize($--desktop-font-size);
    }

    span {
      font-weight: bold;
    }
  }

  .questions {
    justify-content: flex-start;
  }

  .gamePIN {
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include mobile {
      column-gap: $mobile-narrow-layout-gutter;
    }

    @include tablet {
      column-gap: $tablet-narrow-layout-gutter;
    }

    @include desktop {
      column-gap: $desktop-narrow-layout-gutter;
    }
  }
}
