@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.filterModalContainer {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    gap: variables.$desktop-narrow-layout-gutter;
  }

  .row {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
    }

    @include helpers.tablet {
      row-gap: calc(#{variables.$tablet-narrow-layout-gutter * 0.5});
    }

    @include helpers.desktop {
      row-gap: calc(#{variables.$desktop-narrow-layout-gutter * 0.5});
    }

    .label {
      display: flex;
      flex-direction: column;
      font-weight: 700;

      @include helpers.mobile {
        @include helpers.fontSize(14px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(16px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(18px);
      }
    }

    &.buttonGroup {
      display: flex;
      flex-direction: row;

      @include helpers.mobile {
        column-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        column-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        column-gap: variables.$desktop-narrow-layout-gutter;
      }

      > div {
        flex: 1;
      }
    }
  }
}
