@import '../../styles/colors';
@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  @include mobile {
    row-gap: $layout-gutter * 1.5;
  }

  @include tablet {
    row-gap: $layout-gutter * 2;
  }

  @include desktop {
    row-gap: $layout-gutter * 2.5;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    color: white;

    @include mobile {
      width: 100%;
      line-height: 3.5rem;

      @include fontSize(46px);
    }

    @include tablet {
      width: $mobile-width;
      line-height: 5rem;

      @include fontSize(66px);
    }

    @include desktop {
      width: $tablet-width;
      line-height: 6rem;

      @include fontSize(76px);
    }
  }

  .message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;

    @include mobile {
      width: 100%;

      @include fontSize(18px);
    }

    @include tablet {
      width: $mobile-width;

      @include fontSize(24px);
    }

    @include desktop {
      width: $mobile-width;

      @include fontSize(28px);
    }
  }
}
