@import '../../styles/helpers';

.streakBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mobile {
    column-gap: $mobile-narrow-layout-gutter;
    @include fontSize($mobile-text-font-size);
  }

  @include tablet {
    column-gap: $tablet-narrow-layout-gutter;
    @include fontSize($tablet-text-font-size);
  }

  @include desktop {
    column-gap: $desktop-narrow-layout-gutter;
    @include fontSize($desktop-text-font-size);
  }
}
