@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  .grid {
    display: grid;
    flex: 1;

    @include helpers.mobile {
      gap: variables.$mobile-narrow-layout-gutter;
      grid-template-columns: 1fr;
    }

    @include helpers.tablet {
      gap: variables.$tablet-narrow-layout-gutter;
      grid-template-columns: 1fr 1fr;
    }

    @include helpers.desktop {
      gap: variables.$desktop-narrow-layout-gutter;
      grid-template-columns: 1fr 1fr;
    }

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      outline: none;
      background-color: colors.$white;
      color: colors.$gray-4;
      overflow: hidden;
      cursor: pointer;

      @include helpers.mobile {
        gap: variables.$mobile-narrow-layout-gutter;
        padding: variables.$mobile-narrow-layout-gutter;
        border-radius: helpers.pxToRem(8px);

        @include helpers.fontSize(12px);
      }

      @include helpers.tablet {
        gap: variables.$tablet-narrow-layout-gutter;
        padding: variables.$tablet-narrow-layout-gutter;
        border-radius: helpers.pxToRem(12px);

        @include helpers.fontSize(18px);
      }

      @include helpers.desktop {
        gap: variables.$desktop-narrow-layout-gutter;
        padding: variables.$desktop-narrow-layout-gutter;
        border-radius: helpers.pxToRem(16px);

        @include helpers.fontSize(24px);
      }

      &:disabled {
        cursor: auto;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          &:not(:disabled) {
            border: none;
            outline: none;
            background-color: colors.$gray-1;
            color: colors.$gray-4;
          }
        }
      }

      @media (hover: none) and (pointer: coarse) {
        &:active {
          &:not(:disabled) {
            border: none;
            outline: none;
            background-color: colors.$gray-1;
            color: colors.$gray-4;
          }
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: bold;
        color: colors.$white;
        position: relative;

        &:after {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }

        @include helpers.mobile {
          min-width: helpers.pxToRem(30px);
          min-height: helpers.pxToRem(30px);
          line-height: 16px;

          @include helpers.fontSize(16px);
        }

        @include helpers.tablet {
          min-width: helpers.pxToRem(40px);
          min-height: helpers.pxToRem(40px);
          line-height: 20px;

          @include helpers.fontSize(20px);
        }

        @include helpers.desktop {
          min-width: helpers.pxToRem(50px);
          min-height: helpers.pxToRem(50px);
          line-height: 24px;

          @include helpers.fontSize(24px);
        }
      }

      &:nth-child(1) {
        div {
          background-color: colors.$red-2;

          &:after {
            content: 'A';
          }
        }
      }
      &:nth-child(2) {
        div {
          background-color: colors.$blue-2;

          &:after {
            content: 'B';
          }
        }
      }
      &:nth-child(3) {
        div {
          background-color: colors.$yellow-2;

          &:after {
            content: 'C';
          }
        }
      }
      &:nth-child(4) {
        div {
          background-color: colors.$green-2;

          &:after {
            content: 'D';
          }
        }
      }
      &:nth-child(5) {
        div {
          background-color: colors.$turquoise-2;

          &:after {
            content: 'E';
          }
        }
      }
      &:nth-child(6) {
        div {
          background-color: colors.$pink-2;

          &:after {
            content: 'F';
          }
        }
      }
    }
  }
}