@import '../../../../styles/colors';
@import '../../../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  .grid {
    display: grid;
    flex: 1;

    @include mobile {
      gap: $mobile-narrow-layout-gutter;
      grid-template-columns: 1fr;
    }

    @include tablet {
      gap: $tablet-narrow-layout-gutter;
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      gap: $desktop-narrow-layout-gutter;
      grid-template-columns: 1fr 1fr;
    }

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      outline: none;
      background-color: $white;
      color: $gray-4;
      overflow: hidden;
      cursor: pointer;

      @include mobile {
        gap: $mobile-narrow-layout-gutter;
        padding: $mobile-narrow-layout-gutter;
        border-radius: pxToRem(8px);

        @include fontSize(12px);
      }

      @include tablet {
        gap: $tablet-narrow-layout-gutter;
        padding: $tablet-narrow-layout-gutter;
        border-radius: pxToRem(12px);

        @include fontSize(18px);
      }

      @include desktop {
        gap: $desktop-narrow-layout-gutter;
        padding: $desktop-narrow-layout-gutter;
        border-radius: pxToRem(16px);

        @include fontSize(24px);
      }

      &:disabled {
        cursor: auto;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          &:not(:disabled) {
            border: none;
            outline: none;
            background-color: $gray-1;
            color: $gray-4;
          }
        }
      }

      @media (hover: none) and (pointer: coarse) {
        &:active {
          &:not(:disabled) {
            border: none;
            outline: none;
            background-color: $gray-1;
            color: $gray-4;
          }
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: bold;
        color: $white;
        position: relative;

        &:after {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }

        @include mobile {
          min-width: pxToRem(30px);
          min-height: pxToRem(30px);
          line-height: 16px;

          @include fontSize(16px);
        }

        @include tablet {
          min-width: pxToRem(40px);
          min-height: pxToRem(40px);
          line-height: 20px;

          @include fontSize(20px);
        }

        @include desktop {
          min-width: pxToRem(50px);
          min-height: pxToRem(50px);
          line-height: 24px;

          @include fontSize(24px);
        }
      }

      &:nth-child(1) {
        div {
          background-color: $red-2;

          &:after {
            content: 'A';
          }
        }
      }
      &:nth-child(2) {
        div {
          background-color: $blue-2;

          &:after {
            content: 'B';
          }
        }
      }
      &:nth-child(3) {
        div {
          background-color: $yellow-2;

          &:after {
            content: 'C';
          }
        }
      }
      &:nth-child(4) {
        div {
          background-color: $green-2;

          &:after {
            content: 'D';
          }
        }
      }
      &:nth-child(5) {
        div {
          background-color: $turquoise-2;

          &:after {
            content: 'E';
          }
        }
      }
      &:nth-child(6) {
        div {
          background-color: $pink-2;

          &:after {
            content: 'F';
          }
        }
      }
    }
  }
}