@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include helpers.mobile {
    gap: 1rem;

    padding: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    gap: 1.25rem;

    padding: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    gap: 1.5rem;

    padding: variables.$desktop-layout-gutter;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.rails {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    gap: 1.5rem;
  }

  @include helpers.tablet {
    gap: 1.75rem;
  }

  @include helpers.desktop {
    gap: 2rem;
  }
}

.emptyState {
  margin: 0;
  text-align: center;
  color: colors.$white-1-50;

  @include helpers.mobile {
    padding: 1rem 0;

    @include helpers.fontSize(16px);
  }

  @include helpers.tablet {
    padding: 1.5rem 0;

    @include helpers.fontSize(20px);
  }

  @include helpers.desktop {
    padding: 2rem 0;

    @include helpers.fontSize(24px);
  }
}
