@import '../../styles/colors';
@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-1-50;
  font-weight: bold;
  position: relative;
  overflow: hidden;

  @include mobile {
    padding: 0 pxToRem(16px);
    border-radius: calc(34px / 2);
    height: 34px;

    @include fontSize(14px);
  }

  @include tablet {
    padding: 0 pxToRem(20px);
    border-radius: calc(41px / 2);
    height: 41px;

    @include fontSize(18px);
  }

  @include desktop {
    padding: 0 pxToRem(24px);
    border-radius: calc(48px / 2);
    height: 48px;

    @include fontSize(22px);
  }

  &:hover {
    .delete {
      display: inline-flex;
    }
  }

  .delete {
    -o-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    appearance: none;
    background-color: $black-1-50;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: none;
    flex-direction: row;
    flex: 1;
    font-family: inherit;
    height: 100%;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    width: 100%;

    @include mobile {
      @include fontSize(20px);
    }

    @include tablet {
      @include fontSize(24px);
    }

    @include desktop {
      @include fontSize(28px);
    }
  }
}