@use '../../../../styles/colors';

.imageSquareEffect {
  position: absolute;
  inset: 0;
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0;
  isolation: isolate;
  contain: paint;

  .tile {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: colors.$white;
      transition: opacity 220ms ease-out, background 220ms ease-in-out;
      will-change: opacity, background;
      opacity: 1;
      transform: none;
      pointer-events: none;
      backface-visibility: hidden;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
        transform: none;
      }
    }
  }

  .revealed::before {
    background: transparent;
    opacity: 0;
  }
}