@use '../../styles/helpers';
@use '../../styles/variables';

.leaveModalActionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: variables.$mobile-width;

  @include helpers.mobile {
    column-gap: variables.$mobile-control-normal-layout-gutter;
  }

  @include helpers.tablet {
    column-gap: variables.$tablet-control-normal-layout-gutter;
  }

  @include helpers.desktop {
    column-gap: variables.$desktop-control-normal-layout-gutter;
  }

  div[class*='buttonInputContainer'] {
    flex: 1;
  }
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
