@import '../../styles/helpers';

.joinForm {
  display: flex;
  flex-direction: column;

  @include mobile {
    row-gap: $mobile-narrow-layout-gutter;
    width: 100%;
  }

  @include tablet {
    row-gap: $tablet-narrow-layout-gutter;
    width: $mobile-width;
  }

  @include desktop {
    row-gap: $desktop-narrow-layout-gutter;
    width: $mobile-width;
  }
}
