@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > img {
    @include mobile {
      width: 140px;
      height: 140px;
    }

    @include tablet {
      width: 200px;
      height: 200px;
    }

    @include desktop {
      width: 256px;
      height: 256px;
    }
  }
}
