@use '../../styles/colors';
@use '../../styles/helpers';

.progressBar {
  display: flex;
  flex-direction: column;
  background-color: colors.$white-1-50;
  width: 100%;

  span {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: colors.$white;
  }

  @mixin timer-dimensions($height) {
    height: helpers.pxToRem($height);
    border-radius: helpers.pxToRem(calc($height / 2));

    span {
      border-radius: helpers.pxToRem(calc($height / 2));
    }
  }

  @include helpers.mobile {
    @include timer-dimensions(4px);
  }

  @include helpers.tablet {
    @include timer-dimensions(6px);
  }

  @include helpers.desktop {
    @include timer-dimensions(8px);
  }
}
