@import '../../styles/colors';
@import '../../styles/helpers';
@import '../../styles/inputs';

.segmentedControl {
  display: flex;
  flex-direction: row;

  .segmentedControlItem {
    @extend .input;

    flex: 1;
    border-radius: 0;

    &.segmentedControlInputKindPrimary {
      &.segmentedControlInputActive {
        @extend .input-kind-call-to-action;
      }
      &.segmentedControlInputInactive {
        @extend .input-kind-primary;
      }
    }

    &.segmentedControlInputKindSecondary {
      &.segmentedControlInputActive {
        @extend .input-kind-call-to-action;
      }
      &.segmentedControlInputInactive {
        @extend .input-kind-secondary;
      }
    }

    &.segmentedControlInputSizeNormal {
      @include mobile {
        &:first-child {
          border-top-left-radius: $mobile-control-normal-border-radius;
          border-bottom-left-radius: $mobile-control-normal-border-radius;
        }

        &:last-child {
          border-top-right-radius: $mobile-control-normal-border-radius;
          border-bottom-right-radius: $mobile-control-normal-border-radius;
        }
      }

      @include tablet {
        &:first-child {
          border-top-left-radius: $tablet-control-normal-border-radius;
          border-bottom-left-radius: $tablet-control-normal-border-radius;
        }

        &:last-child {
          border-top-right-radius: $tablet-control-normal-border-radius;
          border-bottom-right-radius: $tablet-control-normal-border-radius;
        }
      }

      @include desktop {
        &:first-child {
          border-top-left-radius: $desktop-control-normal-border-radius;
          border-bottom-left-radius: $desktop-control-normal-border-radius;
        }

        &:last-child {
          border-top-right-radius: $desktop-control-normal-border-radius;
          border-bottom-right-radius: $desktop-control-normal-border-radius;
        }
      }
    }

    &.segmentedControlInputSizeSmall {
      border-radius: 0;
      @extend .input-size-small;

      @include mobile {
        &:first-child {
          border-top-left-radius: $mobile-control-small-border-radius;
          border-bottom-left-radius: $mobile-control-small-border-radius;
        }

        &:last-child {
          border-top-right-radius: $mobile-control-small-border-radius;
          border-bottom-right-radius: $mobile-control-small-border-radius;
        }
      }

      @include tablet {
        &:first-child {
          border-top-left-radius: $tablet-control-small-border-radius;
          border-bottom-left-radius: $tablet-control-small-border-radius;
        }

        &:last-child {
          border-top-right-radius: $tablet-control-small-border-radius;
          border-bottom-right-radius: $tablet-control-small-border-radius;
        }
      }

      @include desktop {
        &:first-child {
          border-top-left-radius: $desktop-control-small-border-radius;
          border-bottom-left-radius: $desktop-control-small-border-radius;
        }

        &:last-child {
          border-top-right-radius: $desktop-control-small-border-radius;
          border-bottom-right-radius: $desktop-control-small-border-radius;
        }
      }
    }
  }
}
