@import '../../styles/colors';
@import '../../styles/helpers';

.details {
  display: flex;
  flex-direction: row;
  column-gap: $layout-gutter;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 1;
  position: relative;

  > textarea {
    padding-bottom: 2rem;
  }

  .error {
    position: absolute;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
    background-color: $red-2;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $white;
    font-size: 14px;
    font-weight: bold;;
  }
}
