@use '../../styles/helpers';
@use '../../styles/variables';

.leaveModalActionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: variables.$mobile-width;

  @include helpers.mobile {
    column-gap: variables.$mobile-control-normal-layout-gutter;
  }

  @include helpers.tablet {
    column-gap: variables.$tablet-control-normal-layout-gutter;
  }

  @include helpers.desktop {
    column-gap: variables.$desktop-control-normal-layout-gutter;
  }

  div[class*="buttonInputContainer"] {
    flex: 1;
  }
}
