@import '../../styles/colors';
@import '../../styles/helpers';

.streak {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include mobile {
    column-gap: $layout-gutter * 0.5;
    @include fontSize($mobile-text-font-size);
  }

  @include tablet {
    column-gap: $layout-gutter * 0.75;
    @include fontSize($tablet-text-font-size);
  }

  @include desktop {
    column-gap: $layout-gutter;
    @include fontSize($desktop-text-font-size);
  }
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;

  @mixin score-dimensions($size, $padding-ratio) {
    padding: 0 $layout-gutter * $padding-ratio;
    border-radius: calc($size / 2);
    line-height: $size;

    @include fontSize($size * 0.7);
  }

  @include mobile {
    @include score-dimensions(42px, 2);
  }

  @include tablet {
    @include score-dimensions(52px, 2);
  }

  @include desktop {
    @include score-dimensions(62px, 2);
  }
}
