@import '../../styles/colors';
@import '../../styles/helpers';

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $white-1-50;
  font-weight: bold;

  @mixin score-dimensions($size, $padding-ratio) {
    padding: 0 $layout-gutter * $padding-ratio;
    border-radius: calc($size / 2);
    line-height: $size;

    @include fontSize($size * 0.7);
  }

  @include mobile {
    @include score-dimensions(42px, 2);
  }

  @include tablet {
    @include score-dimensions(52px, 2);
  }

  @include desktop {
    @include score-dimensions(62px, 2);
  }
}
