@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: colors.$white-1-50;
  font-weight: bold;
  position: relative;

  @include helpers.mobile {
    column-gap: variables.$mobile-layout-gutter;
    padding: 0 helpers.pxToRem(16px);
    border-radius: calc(34px / 2);
    height: 34px;

    @include helpers.fontSize(14px);
  }

  @include helpers.tablet {
    column-gap: variables.$tablet-layout-gutter;
    padding: 0 helpers.pxToRem(20px);
    border-radius: calc(41px / 2);
    height: 41px;

    @include helpers.fontSize(18px);
  }

  @include helpers.desktop {
    column-gap: variables.$desktop-layout-gutter;
    padding: 0 helpers.pxToRem(24px);
    border-radius: calc(48px / 2);
    height: 48px;

    @include helpers.fontSize(22px);
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include helpers.mobile {
      column-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
    }

    @include helpers.tablet {
      column-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
    }

    @include helpers.desktop {
      column-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
    }
  }
}