@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

.dropzone {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .base {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: $gray-1;
    border-style: dashed;
    background-color: mix($white, $gray-1, 75%);
    color: $gray-2;
    text-align: center;
    outline: none;
    transition: border .24s ease-in-out;
    cursor: pointer;

    @include mobile {
      padding: $mobile-control-normal-layout-gutter * 2 $mobile-control-normal-layout-gutter;
      border-width: $control-outside-border-width;
      border-radius: $mobile-control-normal-border-radius;
      min-height: 120px;
    }

    @include tablet {
      padding: $tablet-control-normal-layout-gutter * 2 $tablet-control-normal-layout-gutter;
      border-width: $control-outside-border-width;
      border-radius: $tablet-control-normal-border-radius;
      min-height: 140px;
    }

    @include desktop {
      padding: $desktop-control-normal-layout-gutter * 2 $desktop-control-normal-layout-gutter;
      border-width: $control-outside-border-width;
      border-radius: $desktop-control-normal-border-radius;
      min-height: 160px;
    }
  }

  .focused {
    border-color: $blue-1;
  }

  .accept {
    border-color: $green-1;
  }

  .reject {
    border-color: $red-1;
  }
}
