@use '../../../../../../styles/colors';
@use '../../../../../../styles/helpers';
@use '../../../../../../styles/variables';

$outline-offset: helpers.pxToRem(2px);

.quizSettingsModalWrapper {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-narrow-layout-gutter;
  }

  .quizSettingsRow {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
    }

    @include helpers.tablet {
      row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
    }

    @include helpers.desktop {
      row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
    }

    .label {
      display: flex;
      flex-direction: column;
      font-weight: 700;

      @include helpers.mobile {
        @include helpers.fontSize(14px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(16px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(18px);
      }
    }
  }
}
