@use '../../../../../styles/colors';
@use '../../../../../styles/helpers';
@use '../../../../../styles/variables';

.answerPin {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      row-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      row-gap: variables.$desktop-narrow-layout-gutter;
    }

    .buttonWrapper {
      display: flex;
      flex-direction: column;

      @include helpers.mobile {
        width: 100%;
      }

      @include helpers.tablet {
        width: variables.$mobile-width;
      }

      @include helpers.desktop {
        width: variables.$mobile-width;
      }
    }
  }
}
