@import '../../../../../styles/colors';
@import '../../../../../styles/helpers';

.gameTable {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @include mobile {
    row-gap: $mobile-narrow-layout-gutter;
    width: 100%;
  }

  @include tablet {
    row-gap: $tablet-narrow-layout-gutter;
    width: $tablet-width;
  }

  @include desktop {
    row-gap: $desktop-narrow-layout-gutter;
    width: $tablet-width;
  }

  .rows {
    display: flex;
    flex-direction: column;

    @include mobile {
      row-gap: $mobile-narrow-layout-gutter;
    }

    @include tablet {
      row-gap: $tablet-narrow-layout-gutter;
    }

    @include desktop {
      row-gap: $desktop-narrow-layout-gutter;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      text-decoration: none;
      color: $gray-4;

      &:hover {
        background-color: $gray-1;
        cursor: pointer;
      }

      @include mobile {
        padding: $mobile-narrow-layout-gutter;
        column-gap: $mobile-narrow-layout-gutter;
        border-radius: $mobile-border-radius;
      }

      @include tablet {
        padding: $tablet-narrow-layout-gutter;
        column-gap: $tablet-narrow-layout-gutter;
        border-radius: $tablet-border-radius;
      }

      @include desktop {
        padding: $desktop-narrow-layout-gutter;
        column-gap: $desktop-narrow-layout-gutter;
        border-radius: $desktop-border-radius;
      }

      img {
        object-fit: cover;

        @mixin image-size($width) {
          width: $width;
          height: calc(#{$width} * 0.875);
        }

        @include mobile {
          display: none;
        }

        @include tablet {
          border-radius: $tablet-border-radius;

          @include image-size(110px);
        }

        @include desktop {
          border-radius: $desktop-border-radius;

          @include image-size(118px);
        }

        &.svg {
          filter: invert(54%) sepia(7%) saturate(725%) hue-rotate(167deg) brightness(102%) contrast(90%);
        }
      }

      .metadata {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        max-width: 100%;

        .name {
          display: flex;
          font-family: inherit;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex: 1;

          @include mobile {
            @include fontSize(16px);
          }

          @include tablet {
            @include fontSize(20px);
          }

          @include desktop {
            @include fontSize(24px);
          }
        }

        .details {
          font-family: inherit;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;

          @include mobile {
            column-gap: $mobile-narrow-layout-gutter;
          }

          @include tablet {
            column-gap: $tablet-narrow-layout-gutter;
          }

          @include desktop {
            column-gap: $desktop-layout-gutter;
            row-gap: $desktop-narrow-layout-gutter * 0.3;
          }

          span {
            display: flex;
            flex-direction: row;
            align-items: center;

            @include mobile {
              column-gap: calc($mobile-narrow-layout-gutter * 0.5);
              @include fontSize(14px);
            }

            @include tablet {
              column-gap: calc($tablet-narrow-layout-gutter * 0.5);
              @include fontSize(16px);
            }

            @include desktop {
              column-gap: calc($desktop-narrow-layout-gutter * 0.5);
              @include fontSize(18px);
            }
          }
        }
      }

      .active, .host {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $white;

        @include mobile {
          padding: $mobile-narrow-layout-gutter * 0.5 $mobile-narrow-layout-gutter;
          border-radius: $mobile-control-normal-border-radius;
          column-gap: calc($mobile-narrow-layout-gutter * 0.5);

          @include fontSize(16px);
        }

        @include tablet {
          padding: $tablet-narrow-layout-gutter * 0.5 $tablet-narrow-layout-gutter;
          border-radius: $tablet-control-normal-border-radius;
          column-gap: calc($tablet-narrow-layout-gutter * 0.5);

          @include fontSize(18px);
        }

        @include desktop {
          padding: $desktop-narrow-layout-gutter * 0.5 $desktop-narrow-layout-gutter;
          border-radius: $desktop-control-normal-border-radius;
          column-gap: calc($desktop-narrow-layout-gutter * 0.5);

          @include fontSize(22px);
        }
      }

      .active {
        background-color: $orange-2;
      }

      .host {
        background-color: $blue-2;
      }

      .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $green-1;

        @include mobile {
          padding: $mobile-narrow-layout-gutter;
          border-radius: $mobile-control-normal-border-radius;
          column-gap: $mobile-narrow-layout-gutter;
        }

        @include tablet {
          padding: $tablet-narrow-layout-gutter;
          border-radius: $tablet-control-normal-border-radius;
          column-gap: $tablet-narrow-layout-gutter;
        }

        @include desktop {
          padding: $desktop-narrow-layout-gutter;
          border-radius: $desktop-control-normal-border-radius;
          column-gap: $desktop-narrow-layout-gutter;
        }

        .score {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          color: white;

          .icon {
            color: $yellow-1;
          }

          @include mobile {
            column-gap: $mobile-narrow-layout-gutter * 0.5;

            @include fontSize(16px);
          }

          @include tablet {
            column-gap: $tablet-narrow-layout-gutter * 0.5;

            @include fontSize(18px);
          }

          @include desktop {
            column-gap: $desktop-narrow-layout-gutter * 0.5;

            @include fontSize(22px);
          }
        }
      }
    }
  }
}
