@import '../../styles/colors';
@import '../../styles/helpers';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include mobile {
    row-gap: $layout-gutter;
  }

  @include tablet {
    row-gap: $layout-gutter * 1.5;
  }

  @include desktop {
    row-gap: $layout-gutter * 2;
  }

  .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    outline-style: solid;
    outline-color: $white;
    background-color: $white;
    color: $black-1-70;
    font-weight: bold;
    text-align: center;

    &.gold {
      background-color: $gold;
      color: $white;
    }

    &.silver {
      background-color: $silver;
      color: $white;
    }

    &.bronze {
      background-color: $bronze;
      color: $white;
    }

    @include mobile {
      margin: pxToRem(2px);
      border-width: pxToRem(2px);
      outline-width: pxToRem(2px);
      outline-offset: pxToRem(2px);
      width: pxToRem(100px);
      height: pxToRem(100px);

      @include fontSize(68px);
    }

    @include tablet {
      margin: pxToRem(3px);
      border-width: pxToRem(3px);
      outline-width: pxToRem(3px);
      outline-offset: pxToRem(3px);
      width: pxToRem(120px);
      height: pxToRem(120px);

      @include fontSize(78px);
    }

    @include desktop {
      margin: pxToRem(4px);
      border-width: pxToRem(4px);
      outline-width: pxToRem(4px);
      outline-offset: pxToRem(4px);
      width: pxToRem(140px);
      height: pxToRem(140px);

      @include fontSize(88px);
    }
  }
}