@import '../../styles/colors';
@import '../../styles/helpers';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include mobile {
    row-gap: $mobile-layout-gutter;
  }

  @include tablet {
    row-gap: $tablet-layout-gutter;
  }

  @include desktop {
    row-gap: $desktop-layout-gutter;
  }
}