@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include helpers.mobile {
    row-gap: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-layout-gutter;
  }
}