@use '../../../../../../../../../styles/colors';
@use '../../../../../../../../../styles/helpers';
@use '../../../../../../../../../styles/variables';

.mediaQuestionField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;

  .previewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include helpers.mobile {
      row-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      row-gap: variables.$desktop-narrow-layout-gutter;
    }

    .preview {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      width: 100%;
      min-height: 0;
      overflow: hidden;

      @include helpers.mobile {
        max-width: 100%;
      }

      @include helpers.tablet {
        max-width: variables.$mobile-width;
      }

      @include helpers.desktop {
        max-width: variables.$tablet-width;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @include helpers.mobile {
        column-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        column-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        column-gap: variables.$desktop-narrow-layout-gutter;
      }
    }
  }
}
