@import '../../styles/colors';
@import '../../styles/helpers';

$outline-offset: pxToRem(2px);

.select {
  display: flex;
  flex-direction: column;
  margin: $outline-offset * 2;
  position: relative;

  select {
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 100%;
    outline-offset: $outline-offset;
    border: none;
    outline: $outline-offset solid $white;
    background-color: $white;
    color: $gray-4;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include mobile {
      height: pxToRem(42px);
      padding: 0 $layout-gutter * 0.8;
      border-radius: $layout-gutter * 0.5;

      @include fontSize(16px);
    }

    @include tablet {
      height: pxToRem(44px);
      padding: 0 $layout-gutter * 0.9;
      border-radius: $layout-gutter * 0.6;

      @include fontSize(17px);
    }

    @include desktop {
      height: pxToRem(46px);
      padding: 0 $layout-gutter;
      border-radius: $layout-gutter * 0.7;

      @include fontSize(18px);
    }

    &:disabled {
      background-color: $gray-1;
      outline-color: $gray-1;
      color: $gray-2;
    }
  }

  svg {
    position: absolute;

    @include mobile {
      top: calc(50% - #{pxToRem(16px) / 2});
      right: $layout-gutter * 0.8;
    }

    @include tablet {
      top: calc(50% - #{pxToRem(17px) / 2});
      right: $layout-gutter * 0.9;
    }

    @include desktop {
      top: calc(50% - #{pxToRem(18px) / 2});
      right: $layout-gutter;
    }
  }

}