@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.gameResultsPage {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include helpers.mobile {
    row-gap: variables.$mobile-layout-gutter;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-layout-gutter;
    width: 100%;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-layout-gutter;
    width: calc(#{variables.$desktop-width} * 0.8);
  }

  section {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include helpers.mobile {
      max-width: variables.$mobile-width;
      row-gap: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      max-width: variables.$tablet-width;
      row-gap: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      max-width: variables.$desktop-width;
      row-gap: variables.$desktop-layout-gutter;
    }

    .cards {
      display: grid;

      @include helpers.mobile {
        grid-template-columns: 1fr;
        gap: variables.$mobile-layout-gutter;
      }

      @include helpers.tablet {
        grid-template-columns: 1fr 1fr;
        gap: variables.$tablet-layout-gutter;
      }

      @include helpers.desktop {
        grid-template-columns: 1fr 1fr;
        gap: variables.$desktop-layout-gutter;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        background-color: colors.$white;
        color: colors.$gray-4;

        @include helpers.mobile {
          padding: variables.$mobile-narrow-layout-gutter;
          border-radius: variables.$mobile-border-radius;

          @include helpers.fontSize(18px);
        }

        @include helpers.tablet {
          padding: variables.$tablet-narrow-layout-gutter;
          border-radius: variables.$tablet-border-radius;

          @include helpers.fontSize(20px);
        }

        @include helpers.desktop {
          padding: variables.$desktop-narrow-layout-gutter;
          border-radius: variables.$desktop-border-radius;

          @include helpers.fontSize(22px);
        }

        &.progress {
          display: flex;
          flex-direction: row;

          @include helpers.mobile {
            column-gap: variables.$mobile-narrow-layout-gutter;
          }

          @include helpers.tablet {
            column-gap: variables.$tablet-narrow-layout-gutter;
          }

          @include helpers.desktop {
            column-gap: variables.$desktop-narrow-layout-gutter;
          }

          .text {
            flex: 1;
          }
        }

        &.details {
          display: grid;

          @include helpers.mobile {
            grid-template-columns: variables.$mobile-layout-gutter 1fr 1fr;
            gap: variables.$mobile-layout-gutter * 0.5;
          }

          @include helpers.tablet {
            grid-template-columns: variables.$tablet-layout-gutter 1fr 1fr;
            gap: calc(#{variables.$tablet-layout-gutter} * 0.5);
          }

          @include helpers.desktop {
            grid-template-columns: variables.$desktop-layout-gutter 1fr 1fr;
            gap: calc(#{variables.$desktop-layout-gutter} * 0.5);
          }

          .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .title {
            display: flex;
            flex-direction: row;
            align-items: center;

            @include helpers.mobile {
              column-gap: variables.$mobile-narrow-layout-gutter;
            }

            @include helpers.tablet {
              column-gap: variables.$tablet-narrow-layout-gutter;
            }

            @include helpers.desktop {
              column-gap: variables.$desktop-narrow-layout-gutter;
            }
          }

          .value {
            font-weight: bold;
            white-space: nowrap;
            text-align: right;
          }
        }

        &.metric {
          @include helpers.mobile {
            row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
          }

          @include helpers.tablet {
            row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
          }

          @include helpers.desktop {
            row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
          }

          .value {
            font-weight: bold;

            @include helpers.mobile {
              @include helpers.fontSize(24px);
            }

            @include helpers.tablet {
              @include helpers.fontSize(26px);
            }

            @include helpers.desktop {
              @include helpers.fontSize(28px);
            }
          }

          .nickname {
            display: flex;
            background-color: colors.$blue-1;
            color: colors.$white;
            justify-content: center;
            align-items: center;

            @include helpers.mobile {
              height: helpers.pxToRem(30px);
              border-radius: calc(30px / 2);
              padding: 0 helpers.pxToRem(calc(30px / 2));

              @include helpers.fontSize(18px);
            }

            @include helpers.tablet {
              height: helpers.pxToRem(32px);
              border-radius: calc(32px / 2);
              padding: 0 helpers.pxToRem(calc(32px / 2));

              @include helpers.fontSize(20px);
            }

            @include helpers.desktop {
              height: helpers.pxToRem(34px);
              border-radius: calc(34px / 2);
              padding: 0 helpers.pxToRem(calc(34px / 2));

              @include helpers.fontSize(22px);
            }
          }

          .title {
            text-transform: capitalize;

            @include helpers.mobile {
              @include helpers.fontSize(18px);
            }

            @include helpers.tablet {
              @include helpers.fontSize(20px);
            }

            @include helpers.desktop {
              @include helpers.fontSize(22px);
            }
          }
        }
      }
    }

    .table {
      display: flex;
      flex-direction: column;
      color: colors.$gray-4;

      @include helpers.mobile {
        row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
        @include helpers.fontSize(18px);
      }

      @include helpers.tablet {
        row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
        @include helpers.fontSize(20px);
      }

      @include helpers.desktop {
        row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
        @include helpers.fontSize(22px);
      }

      .tableRow {
        display: flex;
        flex-direction: column;
        background-color: colors.$white;
        cursor: pointer;

        @include helpers.mobile {
          padding: calc(#{variables.$mobile-layout-gutter} * 0.35) variables.$mobile-layout-gutter;
          border-radius: variables.$mobile-border-radius;
        }

        @include helpers.tablet {
          padding: calc(#{variables.$tablet-layout-gutter} * 0.35) variables.$tablet-layout-gutter;
          border-radius: variables.$tablet-border-radius;
        }

        @include helpers.desktop {
          padding: calc(#{variables.$desktop-layout-gutter} * 0.35) variables.$desktop-layout-gutter;
          border-radius: variables.$desktop-border-radius;
        }

        .main {
          display: flex;
          flex-direction: row;
          align-items: center;

          @include helpers.mobile {
            column-gap: variables.$mobile-layout-gutter;
          }

          @include helpers.tablet {
            column-gap: variables.$tablet-layout-gutter;
          }

          @include helpers.desktop {
            column-gap: variables.$desktop-layout-gutter;
          }

          .badge {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: colors.$gray-1;
            font-weight: bold;

            @include helpers.mobile {
              width: helpers.pxToRem(30px);
              height: helpers.pxToRem(30px);
            }

            @include helpers.tablet {
              width: helpers.pxToRem(34px);
              height: helpers.pxToRem(34px);
            }

            @include helpers.desktop {
              width: helpers.pxToRem(38px);
              height: helpers.pxToRem(38px);
            }
          }

          .value {
            flex: 1;
            flex-wrap: wrap;
          }
        }

        .details {
          display: grid;
          grid-template-columns: 1fr 1fr;
          transition: all 0.25s linear;
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          height: 0;

          @include helpers.mobile {
            column-gap: variables.$mobile-layout-gutter;
            row-gap: calc(#{variables.$mobile-layout-gutter} * 0.5);

            @include helpers.fontSize(16px);
          }

          @include helpers.tablet {
            column-gap: variables.$tablet-layout-gutter;
            row-gap: variables.$tablet-layout-gutter * 0.5;

            @include helpers.fontSize(18px);
          }

          @include helpers.desktop {
            column-gap: variables.$desktop-layout-gutter;
            row-gap: calc(#{variables.$desktop-layout-gutter} * 0.5);

            @include helpers.fontSize(20px);
          }

          &.active {
            visibility: visible;
            opacity: 1;
            height: auto;

            @include helpers.mobile {
              padding-top: variables.$mobile-narrow-layout-gutter;
            }

            @include helpers.tablet {
              padding-top: variables.$tablet-narrow-layout-gutter;
            }

            @include helpers.desktop {
              padding-top: variables.$desktop-narrow-layout-gutter;
            }
          }

          .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include helpers.mobile {
              column-gap: variables.$mobile-narrow-layout-gutter;
            }

            @include helpers.tablet {
              column-gap: variables.$tablet-narrow-layout-gutter;
            }

            @include helpers.desktop {
              column-gap: variables.$desktop-narrow-layout-gutter;
            }

            .title {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              @include helpers.mobile {
                column-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
              }

              @include helpers.tablet {
                column-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
              }

              @include helpers.desktop {
                column-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
              }
            }

            .value {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
