@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.playerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: colors.$white-1-50;
  background-color: colors.$white-1-50;

  @include helpers.mobile {
    border-width: helpers.pxToRem(2px);
    border-radius: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    border-width: helpers.pxToRem(3px);
    border-radius: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    border-width: helpers.pxToRem(4px);
    border-radius: variables.$desktop-narrow-layout-gutter;
  }
}
