@import '../../styles/colors';
@import '../../styles/helpers';

.playerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: $white-1-50;
  background-color: $white-1-50;

  @include mobile {
    border-width: pxToRem(2px);
    border-radius: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    border-width: pxToRem(3px);
    border-radius: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    border-width: pxToRem(4px);
    border-radius: $desktop-narrow-layout-gutter;
  }
}
