@use '../../../../../../styles/colors';
@use '../../../../../../styles/helpers';
@use '../../../../../../styles/variables';

$contrast-opacity: 0.80;

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include helpers.mobile {
    gap: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    gap: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    gap: variables.$desktop-layout-gutter;
  }

  .podiumWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    grid-column: span 2;

    @include helpers.mobile {
      margin-top: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      margin-top: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      margin-top: variables.$desktop-layout-gutter;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: colors.$white-1-15;
    border: variables.$control-outside-border-width solid colors.$white-1-25;
    color: colors.$white;

    @include helpers.mobile {
      padding: variables.$mobile-narrow-layout-gutter;
      border-radius: variables.$mobile-border-radius;

      @include helpers.fontSize(18px);
    }

    @include helpers.tablet {
      padding: variables.$tablet-narrow-layout-gutter;
      border-radius: variables.$tablet-border-radius;

      @include helpers.fontSize(20px);
    }

    @include helpers.desktop {
      padding: variables.$desktop-narrow-layout-gutter;
      border-radius: variables.$desktop-border-radius;

      @include helpers.fontSize(22px);
    }

    &.full {
      grid-column: span 2;
    }

    @include helpers.mobile() {
      grid-column: span 2;
    }

    &.progress {
      display: flex;
      flex-direction: row;

      @include helpers.mobile {
        column-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        column-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        column-gap: variables.$desktop-narrow-layout-gutter;
      }

      .text {
        flex: 1;
        opacity: $contrast-opacity;
      }
    }

    &.hostGameButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      flex: 1;
      font-family: inherit;
      height: 100%;
      outline: none;

      &:not(:disabled) {
        cursor: pointer;
      }

      @include helpers.mobile {
        padding: variables.$mobile-narrow-layout-gutter variables.$mobile-layout-gutter;
        column-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        padding: variables.$tablet-narrow-layout-gutter variables.$tablet-layout-gutter;
        column-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        padding: variables.$desktop-narrow-layout-gutter variables.$desktop-layout-gutter;
        column-gap: variables.$desktop-narrow-layout-gutter;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        @include helpers.mobile {
          row-gap: variables.$mobile-narrow-layout-gutter * 0.5;
        }

        @include helpers.tablet {
          row-gap: variables.$tablet-narrow-layout-gutter * 0.5;
        }

        @include helpers.desktop {
          row-gap: variables.$desktop-narrow-layout-gutter * 0.5;
        }

        .title {
          font-weight: bold;
          opacity: 0.95;

          @include helpers.mobile {
            @include helpers.fontSize(24px);
          }

          @include helpers.tablet {
            @include helpers.fontSize(26px);
          }

          @include helpers.desktop {
            @include helpers.fontSize(28px);
          }
        }

        .subtitle {
          opacity: 0.78;

          @include helpers.mobile {
            line-height: 1.3;
            @include helpers.fontSize(20px);
          }

          @include helpers.tablet {
            line-height: 1.35;
            @include helpers.fontSize(22px);
          }

          @include helpers.desktop {
            line-height: 1.4;
            @include helpers.fontSize(24px);
          }
        }
      }

      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: colors.$white-1-15;
        border: variables.$control-outside-border-width solid colors.$white-1-25;

        @include helpers.mobile {
          width: 2.1rem;
          height: 2.1rem;
          border-radius: calc(2.1rem / 2);
        }
        @include helpers.tablet {
          width: 2.3rem;
          height: 2.3rem;
          border-radius: calc(2.3rem / 2);
        }
        @include helpers.desktop {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: calc(2.5rem / 2);
        }

        svg {
          @include helpers.mobile {
            @include helpers.fontSize(16px);
          }
          @include helpers.tablet {
            @include helpers.fontSize(18px);
          }
          @include helpers.desktop {
            @include helpers.fontSize(20px);
          }
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        transition:
          background-color 0.15s ease,
          border-color 0.15s ease,
          transform 0.15s ease;
      }

      &:hover,
      &:focus-visible {
        &:not(:disabled) {
          background-color: colors.$white-1-20;

          @media (prefers-reduced-motion: no-preference) {
            transform: scale(1.05);
          }

          .content {
            .title {
              opacity: 1;
            }

            .subtitle {
              opacity: 0.9;
            }
          }

          .icon {
            background-color: colors.$white-1-25;
            border-color: colors.$white-1-40;

            svg {
              opacity: 1;
            }
          }
        }
      }
    }

    &.details {
      display: flex;
      flex-direction: row;

      @include helpers.mobile {
        flex-direction: column;
        gap: variables.$mobile-layout-gutter * 0.5;
      }

      @include helpers.tablet {
        gap: variables.$tablet-layout-gutter;
      }

      @include helpers.desktop {
        gap: variables.$desktop-layout-gutter;
      }

      .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;

        @include helpers.mobile {
          gap: variables.$mobile-layout-gutter * 0.5;
        }

        @include helpers.tablet {
          gap: variables.$tablet-layout-gutter * 0.5;
        }

        @include helpers.desktop {
          gap: variables.$desktop-layout-gutter * 0.5;
        }

        .item {
          display: grid;

          @include helpers.mobile {
            grid-template-columns: variables.$mobile-layout-gutter 1fr 1fr;
            gap: variables.$mobile-layout-gutter;
          }

          @include helpers.tablet {
            grid-template-columns: variables.$tablet-layout-gutter 1fr 1fr;
            gap: variables.$tablet-layout-gutter * 0.5;
          }

          @include helpers.desktop {
            grid-template-columns: variables.$desktop-layout-gutter 1fr 1fr;
            gap: variables.$desktop-layout-gutter * 0.5;
          }

          .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: $contrast-opacity;
          }

          .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            opacity: $contrast-opacity;

            @include helpers.mobile {
              column-gap: variables.$mobile-narrow-layout-gutter;
            }

            @include helpers.tablet {
              column-gap: variables.$tablet-narrow-layout-gutter;
            }

            @include helpers.desktop {
              column-gap: variables.$desktop-narrow-layout-gutter;
            }
          }

          .value {
            font-weight: bold;
            white-space: nowrap;
            text-align: right;
          }
        }
      }

      .separator {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include helpers.mobile {
          display: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: helpers.pxToRem(1px);
          background: linear-gradient(
              to bottom,
              transparent 0%,
              rgba(255, 255, 255, 0.15) 15%,
              rgba(255, 255, 255, 0.4) 50%,
              rgba(255, 255, 255, 0.15) 85%,
              transparent 100%
          );
        }
      }
    }

    &.metric {
      @include helpers.mobile {
        row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
      }

      @include helpers.tablet {
        row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
      }

      @include helpers.desktop {
        row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
      }

      .value {
        font-weight: bold;
        text-align: center;

        @include helpers.mobile {
          @include helpers.fontSize(24px);
        }

        @include helpers.tablet {
          @include helpers.fontSize(26px);
        }

        @include helpers.desktop {
          @include helpers.fontSize(28px);
        }
      }

      .nicknames {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include helpers.mobile {
          gap: variables.$mobile-narrow-layout-gutter;
        }
        @include helpers.tablet {
          gap: variables.$tablet-narrow-layout-gutter;
        }
        @include helpers.desktop {
          gap: variables.$desktop-narrow-layout-gutter;
        }

        .nickname {
          display: flex;
          background-color: colors.$white-1-15;
          border: variables.$control-outside-border-width solid colors.$white-1-25;
          color: colors.$white;
          justify-content: center;
          align-items: center;

          @include helpers.mobile {
            height: helpers.pxToRem(30px);
            border-radius: calc(30px / 2);
            padding: 0 helpers.pxToRem(calc(30px / 2));

            @include helpers.fontSize(18px);
          }

          @include helpers.tablet {
            height: helpers.pxToRem(32px);
            border-radius: calc(32px / 2);
            padding: 0 helpers.pxToRem(calc(32px / 2));

            @include helpers.fontSize(20px);
          }

          @include helpers.desktop {
            height: helpers.pxToRem(34px);
            border-radius: calc(34px / 2);
            padding: 0 helpers.pxToRem(calc(34px / 2));

            @include helpers.fontSize(22px);
          }

          @media (prefers-reduced-motion: no-preference) {
            transition:
              background-color 0.15s ease,
              border-color 0.15s ease,
              transform 0.15s ease;
          }

          &:hover {
            background-color: colors.$white-1-20;
            border-color: colors.$white-1-40;
            opacity: 0.9;

            @media (prefers-reduced-motion: no-preference) {
              transform: scale(1.05);
            }
          }
        }
      }

      .title {
        text-transform: capitalize;
        text-align: center;
        opacity: $contrast-opacity;

        @include helpers.mobile {
          @include helpers.fontSize(18px);
        }

        @include helpers.tablet {
          @include helpers.fontSize(20px);
        }

        @include helpers.desktop {
          @include helpers.fontSize(22px);
        }
      }
    }
  }
}
