@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.typography {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;

  &.textFitEnabled {
    font-size: var(--fitted-font-size) !important;
    line-height: var(--fitted-line-height) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines, 2);
  }

  &.hero {
    font-weight: 900;
    opacity: 0.95;

    @include helpers.mobile {
      line-height: 5rem;
      @include helpers.fontSize(variables.$mobile-hero-font-size);
    }

    @include helpers.tablet {
      line-height: 7rem;
      @include helpers.fontSize(variables.$tablet-hero-font-size);
    }

    @include helpers.desktop {
      line-height: 9rem;
      @include helpers.fontSize(variables.$desktop-hero-font-size);
    }
  }

  &.title {
    font-weight: 900;
    opacity: 0.95;

    @include helpers.mobile {
      line-height: 2rem;

      @include helpers.fontSize(variables.$mobile-title-font-size);
    }

    @include helpers.tablet {
      line-height: 4rem;

      @include helpers.fontSize(variables.$tablet-title-font-size);
    }

    @include helpers.desktop {
      line-height: 5rem;

      @include helpers.fontSize(variables.$desktop-title-font-size);
    }
  }

  &.subtitle {
    font-weight: 700;
    opacity: 0.88;

    @include helpers.mobile {
      line-height: 2rem;
      @include helpers.fontSize(variables.$mobile-subtitle-font-size);
    }

    @include helpers.tablet {
      line-height: 3rem;
      @include helpers.fontSize(variables.$tablet-subtitle-font-size);
    }

    @include helpers.desktop {
      line-height: 4rem;
      @include helpers.fontSize(variables.$desktop-subtitle-font-size);
    }
  }

  &.text {
    font-weight: 400;
    opacity: 0.80;

    @include helpers.mobile {
      line-height: 1.5rem;
      @include helpers.fontSize(variables.$mobile-text-font-size);
    }

    @include helpers.tablet {
      line-height: 2rem;
      @include helpers.fontSize(variables.$tablet-text-font-size);
    }

    @include helpers.desktop {
      line-height: 2.5rem;
      @include helpers.fontSize(variables.$desktop-text-font-size);
    }
  }

  &.link {
    font-weight: 400;
    cursor: pointer;

    @include helpers.mobile {
      line-height: 1.5rem;
      @include helpers.fontSize(variables.$mobile-link-font-size);
    }

    @include helpers.tablet {
      line-height: 1.75rem;
      @include helpers.fontSize(variables.$tablet-link-font-size);
    }

    @include helpers.desktop {
      line-height: 2rem;
      @include helpers.fontSize(variables.$desktop-link-font-size);
    }
  }

  &.small {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: variables.$mobile-width;
    }

    @include helpers.desktop {
      width: variables.$mobile-width;
    }
  }

  &.medium {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: variables.$tablet-width;
    }

    @include helpers.desktop {
      width: variables.$tablet-width;
    }
  }

  &.full {
    width: 100%;
  }
}
