@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.gameResultsPage {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include helpers.mobile {
    row-gap: variables.$mobile-layout-gutter;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-layout-gutter;
    width: 100%;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-layout-gutter;
    width: calc(#{variables.$desktop-width} * 0.8);
  }

  section {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include helpers.mobile {
      max-width: variables.$mobile-width;
      row-gap: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      max-width: variables.$tablet-width;
      row-gap: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      max-width: variables.$desktop-width;
      row-gap: variables.$desktop-layout-gutter;
    }
  }
}
