@import '../../styles/helpers';

.avatar {
  @include fontSize(140px)
}

.playerForm {
  display: flex;
  flex-direction: column;

  @include mobile {
    row-gap: $mobile-layout-gutter;
    width: 100%;
  }

  @include tablet {
    row-gap: $tablet-layout-gutter;
    width: $mobile-width;
  }

  @include desktop {
    row-gap: $desktop-layout-gutter;
    width: $mobile-width;
  }
}