@import '../../../../styles/colors';
@import '../../../../styles/helpers';

.filterModalContainer {
  display: flex;
  flex-direction: column;

  @include mobile {
    gap: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    gap: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    gap: $desktop-narrow-layout-gutter;
  }

  .row {
    display: flex;
    flex-direction: column;

    @include mobile {
      row-gap: $mobile-narrow-layout-gutter * 0.5;
    }

    @include tablet {
      row-gap: $tablet-narrow-layout-gutter * 0.5;
    }

    @include desktop {
      row-gap: $desktop-narrow-layout-gutter * 0.5;
    }

    .label {
      display: flex;
      flex-direction: column;
      font-weight: 700;

      @include mobile {
        @include fontSize(14px);
      }

      @include tablet {
        @include fontSize(16px);
      }

      @include desktop {
        @include fontSize(18px);
      }
    }

    &.buttonGroup {
      display: flex;
      flex-direction: row;

      @include mobile {
        column-gap: $mobile-narrow-layout-gutter;
      }

      @include tablet {
        column-gap: $tablet-narrow-layout-gutter;
      }

      @include desktop {
        column-gap: $desktop-narrow-layout-gutter;
      }

      > div {
        flex: 1;
      }
    }
  }
}
