@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    row-gap: $layout-gutter * 0.5;
  }

  @include tablet {
    row-gap: $layout-gutter;
  }

  @include desktop {
    row-gap: $layout-gutter * 1.5;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: $layout-gutter;

    @include mobile {
      width: 100%;
      padding: $layout-gutter 0;
    }

    @include tablet {
      width: $mobile-width;
      padding: $layout-gutter * 1.5 0;
    }

    @include desktop {
      width: $mobile-width;
      padding: $layout-gutter * 2 0;
    }
  }
}
