@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.main {
  display: flex;
  flex-direction: row;
  column-gap: 0;
  border-bottom: helpers.pxToRem(4px) solid colors.$white;
  width: 100%;

  .column {
    display: flex;
    flex-direction: column;
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    justify-content: flex-start;
    align-items: center;

    @include helpers.mobile {
      row-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      row-gap: variables.$desktop-narrow-layout-gutter;
    }

    .spacer {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include helpers.mobile {
        height: 30px;
      }

      @include helpers.tablet {
        height: 40px;
      }

      @include helpers.desktop {
        height: 50px;
      }
    }

    .nickname {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      &::after {
        padding-top: 25%;
        display: block;
        content: '';
      }

      div {
        position: absolute;
        bottom: 0;
        z-index: variables.$podium-z-index;
      }
    }

    .stack {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex: 1;

      @include helpers.mobile {
        padding: variables.$mobile-layout-gutter 0 calc(#{variables.$mobile-layout-gutter} * 4) 0;
        row-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        padding: variables.$tablet-layout-gutter 0 calc(#{variables.$tablet-layout-gutter} * 4) 0;
        row-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        padding: variables.$desktop-layout-gutter 0 calc(#{variables.$desktop-layout-gutter} * 4) 0;
        row-gap: variables.$desktop-narrow-layout-gutter;
      }

      .position {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: colors.$white-1-50;
        color: colors.$black-1-50;
        font-weight: bolder;

        @include helpers.mobile {
          padding: 0.1rem;
          @include helpers.fontSize(26px);
        }

        @include helpers.tablet {
          padding: 0.2rem;
          @include helpers.fontSize(36px);
        }

        @include helpers.desktop {
          padding: 0.3rem;
          @include helpers.fontSize(46px);
        }
      }

      .score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: colors.$black-1-50;

        @include helpers.mobile {
          @include helpers.fontSize(16px);
        }

        @include helpers.tablet {
          @include helpers.fontSize(26px);
        }

        @include helpers.desktop {
          @include helpers.fontSize(36px);
        }
      }
    }

    &:nth-child(1) {
      .stack {
        border-radius: helpers.pxToRem(12px) 0 0 0;
        background-color: colors.$silver;

        box-shadow: helpers.pxToRem(-5px) 0 helpers.pxToRem(5px) 0 colors.$black-1-15 inset;
        -webkit-box-shadow: helpers.pxToRem(-5px) 0 helpers.pxToRem(5px) 0 colors.$black-1-15 inset;
        -moz-box-shadow: helpers.pxToRem(-5px) 0 helpers.pxToRem(5px) 0 colors.$black-1-15 inset;
      }
    }

    &:nth-child(2) {
      .stack {
        border-radius: helpers.pxToRem(12px) helpers.pxToRem(12px) 0 0;
        background-color: colors.$gold;
      }
    }

    &:nth-child(3) {
      .stack {
        border-radius: 0 helpers.pxToRem(12px) 0 0;
        background-color: colors.$bronze;

        box-shadow: helpers.pxToRem(5px) 0 helpers.pxToRem(5px) 0 colors.$black-1-15 inset;
        -webkit-box-shadow: helpers.pxToRem(5px) 0 helpers.pxToRem(5px) 0 colors.$black-1-15 inset;
        -moz-box-shadow: helpers.pxToRem(5px) 0 helpers.pxToRem(5px) 0 colors.$black-1-15 inset;
      }
    }
  }
}