@use './colors';
@use './helpers';

@mixin loading-spinner-dimensions($size, $color, $unique-name) {
  width: $size;
  height: $size;

  $--loading-spinner-bar-left: calc($size / 10);
  $--loading-spinner-bar-width: calc($size / 5);

  div {
    display: flex;
    position: absolute;
    left: $--loading-spinner-bar-left;
    width: $--loading-spinner-bar-width;
    animation: #{$unique-name}-loading-spinner-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    background: $color;

    &:nth-child(1) {
      animation-delay: -0.24s;
    }

    &:nth-child(2) {
      animation-delay: -0.12s;
    }

    &:nth-child(3) {
      animation-delay: 0s;
    }

    @keyframes #{$unique-name}-loading-spinner-animation {
      0% {
        top: $--loading-spinner-bar-left;
        height: calc($size - ($--loading-spinner-bar-left * 2));
      }
      50%, 100% {
        top: calc($--loading-spinner-bar-left * 3);
        height: calc($--loading-spinner-bar-width * 2);
      }
    }

    &:nth-child(1) {
      animation-delay: -0.24s;
      left: calc($--loading-spinner-bar-left * 1);
    }
    &:nth-child(2) {
      animation-delay: -0.12s;
      left: calc($--loading-spinner-bar-left * 4);
    }
    &:nth-child(3) {
      animation-delay: 0s;
      left: calc($--loading-spinner-bar-left * 7);
    }
  }
}

.loading-spinner {
  display: flex;
  position: relative;
}
