@use '../../../../../styles/colors';
@use '../../../../../styles/helpers';
@use '../../../../../styles/variables';

.answerInput {
  display: flex;
  flex-direction: column;
  flex: 1;

  .interactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include helpers.mobile {
        gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        gap: variables.$desktop-narrow-layout-gutter;
      }
    }
  }
}
