$blue-1: #575fcf;
$blue-2: #3c40c6;

$yellow-1: #ffdd59;
$yellow-2: #ffd32a;

$pink-1: #ef5777;
$pink-2: #f53b57;

$red-1: #ff5e57;
$red-2: #ff3f34;

$orange-1: #ffc048;
$orange-2: #ffa801;

$green-1: #0be881;
$green-2: #05c46b;
$green-2-25: #05c46b25;

$turquoise-1: #34e7e4;
$turquoise-2: #00d8d6;

$gray-1: #d2dae2;
$gray-2: #808e9b;
$gray-3: #485460;
$gray-4: #1e272e;

$white: #ffffff;
$white-1-50: rgba(255, 255, 255, 0.5);
$white-1-80: rgba(255, 255, 255, 0.8);

$black-1-15: rgba(0, 0, 0, 0.15);
$black-1-50: rgba(0, 0, 0, 0.5);
$black-1-75: rgba(0, 0, 0, 0.75);
$black-1-70: rgba(0, 0, 0, 0.7);
$black-1-80: rgba(0, 0, 0, 0.8);
$black-1-10: rgba(0, 0, 0, 0.1);

$gold: #FFC727;
$silver: #DFDFDF;
$bronze: #FFA750;

/* Primary control colors */
$control-primary-normal-color: $white;
$control-primary-success-color: $green-2;
$control-primary-call-to-action-color: $yellow-2;
$control-primary-danger-color: $red-2;
$control-primary-focus-color: $yellow-2;

/* Secondary control colors */
$control-secondary-normal-color: $gray-1;
$control-secondary-success-color: $green-1;
$control-secondary-danger-color: $red-1;
$control-secondary-focus-color: $yellow-2;

/* Text control colors*/
$control-text-normal-color: $gray-4;
$control-text-contrast-color: $white;
$control-text-success-color: $green-2;
$control-text-danger-color: $red-2;

/* Disabled control colors */
$control-primary-disabled-color: $gray-1;
$control-text-disabled-color: $gray-2;