$blue-1: #575fcf;
$blue-2: #3c40c6;

$yellow-1: #ffdd59;
$yellow-2: #ffd32a;

$pink-1: #ef5777;
$pink-2: #f53b57;

$red-1: #ff5e57;
$red-2: #ff3f34;

$orange-1: #ffc048;
$orange-2: #ffa801;

$green-1: #0be881;
$green-2: #05c46b;

$turquoise-1: #34e7e4;
$turquoise-2: #00d8d6;

$gray-1: #d2dae2;
$gray-2: #808e9b;
$gray-3: #485460;
$gray-4: #1e272e;

$white: #ffffff;
$white-1-50: rgba(255, 255, 255, 0.5);

$black-1-15: rgba(0, 0, 0, 0.15);
$black-1-70: rgba(0, 0, 0, 0.7);

$gold: #FFC727;
$silver: #DFDFDF;
$bronze: #FFA750;
