@use "sass:math";

@import './variables.scss';

@function pxToRem($size) {
  @return math.div($size, 16px) * 1rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: pxToRem($size);
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin recolor($color: #000, $opacity: 1) {
  $lightness: lightness($color);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);
}
