$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$layout-gutter: 1rem;

$mobile-layout-gutter: 1rem;
$tablet-layout-gutter: 1.25rem;
$desktop-layout-gutter: 1.5rem;

$mobile-narrow-layout-gutter: 0.6rem;
$tablet-narrow-layout-gutter: 0.8rem;
$desktop-narrow-layout-gutter: 1rem;

$mobile-border-radius: 0.6rem;
$tablet-border-radius: 0.8rem;
$desktop-border-radius: 1rem;

$mobile-title-font-size: 46px;
$tablet-title-font-size: 66px;
$desktop-title-font-size: 86px;

$mobile-subtitle-font-size: 22px;
$tablet-subtitle-font-size: 32px;
$desktop-subtitle-font-size: 42px;

$mobile-text-font-size: 18px;
$tablet-text-font-size: 24px;
$desktop-text-font-size: 30px;

$mobile-link-font-size: 16px;
$tablet-link-font-size: 20px;
$desktop-link-font-size: 24px;
