$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-layout-gutter: 1rem;
$tablet-layout-gutter: 1.25rem;
$desktop-layout-gutter: 1.5rem;

$mobile-narrow-layout-gutter: 0.6rem;
$tablet-narrow-layout-gutter: 0.8rem;
$desktop-narrow-layout-gutter: 1rem;

$mobile-border-radius: 0.6rem;
$tablet-border-radius: 0.8rem;
$desktop-border-radius: 1rem;

$mobile-title-font-size: 46px;
$tablet-title-font-size: 66px;
$desktop-title-font-size: 86px;

$mobile-subtitle-font-size: 22px;
$tablet-subtitle-font-size: 32px;
$desktop-subtitle-font-size: 42px;

$mobile-text-font-size: 18px;
$tablet-text-font-size: 24px;
$desktop-text-font-size: 30px;

$mobile-link-font-size: 16px;
$tablet-link-font-size: 20px;
$desktop-link-font-size: 24px;

/* Height values for normal sized control components */
$mobile-control-normal-height: 2.625rem;  //42px
$tablet-control-normal-height: 2.75rem;   //44px
$desktop-control-normal-height: 2.875rem; //46px

/* Height values for small sized control components */
$mobile-control-small-height: 2rem;       //32px
$tablet-control-small-height: 2.125rem;   //34px
$desktop-control-small-height: 2.25rem;   //36px

/* Layout gutters for normal sized control components */
$mobile-control-normal-layout-gutter: calc($mobile-control-normal-height * 0.2);
$tablet-control-normal-layout-gutter: calc($tablet-control-normal-height * 0.2);
$desktop-control-normal-layout-gutter: calc($desktop-control-normal-height * 0.2);

/* Layout gutters for small sized control components */
$mobile-control-small-layout-gutter: calc($mobile-control-small-height * 0.2);
$tablet-control-small-layout-gutter: calc($tablet-control-small-height * 0.2);
$desktop-control-small-layout-gutter: calc($desktop-control-small-height * 0.2);

/* Outside border widths for control components */
$control-outside-border-width: 0.125rem;  //2px

/* Border radius for normal sized control components */
$mobile-control-normal-border-radius: calc($mobile-control-normal-height * 0.2);
$tablet-control-normal-border-radius: calc($tablet-control-normal-height * 0.2);
$desktop-control-normal-border-radius: calc($desktop-control-normal-height * 0.2);

/* Border radius for small sized control components */
$mobile-control-small-border-radius: calc($mobile-control-small-height * 0.2);
$tablet-control-small-border-radius: calc($tablet-control-small-height * 0.2);
$desktop-control-small-border-radius: calc($desktop-control-small-height * 0.2);

/* Font size for normal sized control components */
$mobile-control-normal-font-size: 16px;
$tablet-control-normal-font-size: 17px;
$desktop-control-normal-font-size: 18px;

/* Font size for small sized control components */
$mobile-control-small-font-size: 14px;
$tablet-control-small-font-size: 15px;
$desktop-control-small-font-size: 16px;

/* z indices */
$tooltip-z-index: 999;
$modal-z-index: 998;
$menu-z-index: 997;
$pin-image-z-index: 996;
$reorder-z-index: 996;
$podium-z-index: 1;
