@use '../../styles/inputs';
@use '../../styles/helpers';
@use '../../styles/variables';

$outline-offset: helpers.pxToRem(2px);

.inputContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .textareaInputContainer {
    @extend .input;

    &.code {
      textarea {
        font-family: monospace, monospace;
      }
    }

    &.textareaInputKindPrimary {
      @extend .input-kind-primary;
    }

    &.textareaInputKindSecondary {
      @extend .input-kind-secondary;
    }

    &.error {
      @extend .input-kind-destructive;
    }
  }

  .errorContainer {
    @extend .input-error;
  }

  @include helpers.mobile {
    row-gap: variables.$mobile-control-normal-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-control-normal-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-control-normal-layout-gutter;
  }
}
