@use 'sass:math';

@use '../../styles/colors';
@use '../../styles/helpers';

.circularProgressBar {
  display: block;

  .circleBackground {
    stroke: colors.$red-2;
  }

  .circleProgress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;

    stroke: colors.$green-2;
  }

  .progressText {
    font-family: inherit;
    font-weight: bold;
    fill: colors.$white;
  }

  &.default {
    .circleBackground {
      stroke: colors.$white;
    }
    .circleProgress {
      stroke: colors.$orange-2;
    }
    .progressText {
      fill: colors.$white;
    }
  }

  &.correct {
    .circleBackground {
      stroke: colors.$red-2;
    }
    .circleProgress {
      stroke: colors.$green-2;
    }
    .progressText {
      fill: colors.$gray-4;
    }
  }

  &.secondary {
    .circleBackground {
      stroke: colors.$white;
    }
    .circleProgress {
      stroke: colors.$blue-1;
    }
    .progressText {
      fill: colors.$gray-2;
    }
  }

  &.small {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(10px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(12px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(14px)
      }
    }
  }

  &.medium {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(14px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(16px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(18px)
      }
    }
  }

  &.large {
    @include helpers.mobile {
      .progressText {
        @include helpers.fontSize(18px)
      }
    }

    @include helpers.tablet {
      .progressText {
        @include helpers.fontSize(20px)
      }
    }

    @include helpers.desktop {
      .progressText {
        @include helpers.fontSize(22px)
      }
    }
  }
}
