@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: colors.$white;
  border: none;
  color: black;
  z-index: variables.$menu-z-index;
  transform: translateX(-100%);
  row-gap: helpers.pxToRem(8px);
  padding: helpers.pxToRem(8px) 0;
  border-radius: helpers.pxToRem(8px);
  box-shadow: 0 helpers.pxToRem(4px) helpers.pxToRem(4px) rgba(0, 0, 0, 0.1);

  .menuItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: colors.$gray-4;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      background-color: colors.$white;
      column-gap: helpers.pxToRem(16px);
      padding: helpers.pxToRem(8px) helpers.pxToRem(16px);

      @include helpers.fontSize(22px);

      .icon {
        width: helpers.pxToRem(22px);
      }
    }

    &:hover {
      &:not(:disabled) {
        cursor: pointer;

        .content {
          background-color: colors.$gray-1;
        }
      }
    }

    &:disabled {
      color: colors.$gray-2;
    }
  }

  .menuSeparator {
    display: flex;
    flex-direction: column;
    width: calc(100% - (#{variables.$desktop-narrow-layout-gutter} * 2));
    appearance: none;
    margin: 0 variables.$desktop-narrow-layout-gutter;
    border: none;
    border-bottom: 1px dashed colors.$gray-2;
    outline: none;
  }
}
