@import '../../styles/colors';
@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    row-gap: $layout-gutter;
  }

  @include tablet {
    row-gap: $layout-gutter * 1.5;
  }

  @include desktop {
    row-gap: $layout-gutter * 2;
  }
}
