@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

.floatingOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black-1-80;
  z-index: $modal-z-index;

  @include mobile {
    padding: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    padding: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    padding: $desktop-narrow-layout-gutter;
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $gray-4;
    width: $mobile-width;
    max-height: 100%;
    overflow: hidden;

    @include mobile {
      padding: $mobile-narrow-layout-gutter;
      row-gap: $mobile-narrow-layout-gutter;
      border-radius: $mobile-border-radius;
    }

    @include tablet {
      padding: $tablet-narrow-layout-gutter;
      row-gap: $tablet-narrow-layout-gutter;
      border-radius: $tablet-border-radius;
    }

    @include desktop {
      padding: $desktop-narrow-layout-gutter;
      row-gap: $desktop-narrow-layout-gutter;
      border-radius: $desktop-border-radius;
    }

    &.sizeNormal {
      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: $mobile-width;
      }

      @include desktop {
        width: $mobile-width;
      }
    }

    &.sizeLarge {
      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: $tablet-width;
      }

      @include desktop {
        width: $tablet-width;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        flex: 1;

        @include mobile {
          @include fontSize(16px);
        }

        @include tablet {
          @include fontSize(20px);
        }

        @include desktop {
          @include fontSize(24px);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      @include mobile {
        row-gap: $mobile-narrow-layout-gutter;

        @include fontSize(16px);
      }

      @include tablet {
        row-gap: $tablet-narrow-layout-gutter;

        @include fontSize(18px);
      }

      @include desktop {
        row-gap: $desktop-narrow-layout-gutter;

        @include fontSize(20px);
      }
    }
  }
}