@use '../../../styles/colors';
@use '../../../styles/helpers';
@use '../../../styles/variables';

$--mobile-font-size: 16px;
$--mobile-line-height: helpers.pxToRem($--mobile-font-size);

$--tablet-font-size: 20px;
$--tablet-line-height: helpers.pxToRem($--tablet-font-size);

$--desktop-font-size: 24px;
$--desktop-line-height: helpers.pxToRem($--desktop-font-size);

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$white-1-50;

  @include helpers.mobile {
    border-radius: variables.$mobile-narrow-layout-gutter;
    padding: variables.$mobile-narrow-layout-gutter;
    width: 100%;
    max-height: calc(#{variables.$mobile-narrow-layout-gutter} * 2 + $--mobile-line-height);
  }

  @include helpers.tablet {
    border-radius: variables.$tablet-narrow-layout-gutter;
    padding: variables.$tablet-narrow-layout-gutter;
    width: variables.$tablet-width;
    max-height: calc(#{variables.$tablet-narrow-layout-gutter} * 2 + $--tablet-line-height);
  }

  @include helpers.desktop {
    border-radius: variables.$desktop-narrow-layout-gutter;
    padding: variables.$desktop-narrow-layout-gutter;
    width: variables.$desktop-width;
    max-height: calc(#{variables.$desktop-narrow-layout-gutter} * 2 + $--desktop-line-height);
  }

  .questions, .gamePIN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: variables.$mobile-narrow-layout-gutter;
      line-height: $--mobile-line-height;

      @include helpers.fontSize($--mobile-font-size);
    }

    @include helpers.tablet {
      column-gap: variables.$tablet-narrow-layout-gutter;
      line-height: $--tablet-line-height;

      @include helpers.fontSize($--tablet-font-size);
    }

    @include helpers.desktop {
      column-gap: variables.$desktop-narrow-layout-gutter;
      line-height: $--desktop-line-height;

      @include helpers.fontSize($--desktop-font-size);
    }

    span {
      font-weight: bold;
    }
  }

  .questions {
    justify-content: flex-start;
  }

  .gamePIN {
    justify-content: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      column-gap: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      column-gap: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      column-gap: variables.$desktop-narrow-layout-gutter;
    }
  }
}
