@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.typography {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;

  &.title {
    font-weight: 900;

    @include helpers.mobile {
      line-height: 4rem;

      @include helpers.fontSize(variables.$mobile-title-font-size);
    }

    @include helpers.tablet {
      line-height: 6rem;

      @include helpers.fontSize(variables.$tablet-title-font-size);
    }

    @include helpers.desktop {
      line-height: 8rem;

      @include helpers.fontSize(variables.$desktop-title-font-size);
    }
  }

  &.subtitle {
    font-weight: 700;

    @include helpers.mobile {
      @include helpers.fontSize(variables.$mobile-subtitle-font-size);
    }

    @include helpers.tablet {
      @include helpers.fontSize(variables.$tablet-subtitle-font-size);
    }

    @include helpers.desktop {
      @include helpers.fontSize(variables.$desktop-subtitle-font-size);
    }
  }

  &.text {
    font-weight: 400;

    @include helpers.mobile {
      @include helpers.fontSize(variables.$mobile-text-font-size);
    }

    @include helpers.tablet {
      @include helpers.fontSize(variables.$tablet-text-font-size);
    }

    @include helpers.desktop {
      @include helpers.fontSize(variables.$desktop-text-font-size);
    }
  }

  &.link {
    font-weight: 400;

    @include helpers.mobile {
      @include helpers.fontSize(variables.$mobile-link-font-size);
    }

    @include helpers.tablet {
      @include helpers.fontSize(variables.$tablet-link-font-size);
    }

    @include helpers.desktop {
      @include helpers.fontSize(variables.$desktop-link-font-size);
    }
  }

  &.small {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: variables.$mobile-width;
    }

    @include helpers.desktop {
      width: variables.$mobile-width;
    }
  }

  &.medium {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: variables.$tablet-width;
    }

    @include helpers.desktop {
      width: variables.$tablet-width;
    }
  }

  &.full {
    width: 100%;
  }
}
