@import '../../styles/colors';
@import '../../styles/helpers';

.quizTableFilter, .quizTableFilter > form {
  display: flex;
  flex-direction: row;

  @include mobile {
    column-gap: $mobile-narrow-layout-gutter;
    width: 100%;
  }

  @include tablet {
    column-gap: $tablet-narrow-layout-gutter;
    width: $mobile-width;
  }

  @include desktop {
    column-gap: $desktop-narrow-layout-gutter;
    width: $mobile-width;
  }

  .column {
    display: flex;
    flex-direction: column;

    &.full {
      flex: 1;
    }
  }
}
