@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.iconTooltipButton {
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  outline: none;

  @include helpers.mobile {
    @include helpers.fontSize(variables.$mobile-control-normal-font-size);
  }

  @include helpers.tablet {
    @include helpers.fontSize(variables.$tablet-control-normal-font-size);
  }

  @include helpers.desktop {
    @include helpers.fontSize(variables.$desktop-control-normal-font-size);
  }
}

.iconTooltip {
  display: flex;
  flex-direction: column;
  color: colors.$gray-4;
  z-index: variables.$tooltip-z-index;
  background-color: colors.$turquoise-1;
  max-width: variables.$mobile-width;

  @include helpers.mobile {
    @include helpers.fontSize(variables.$mobile-control-normal-font-size);

    row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
    padding: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5) variables.$mobile-narrow-layout-gutter;
    border-radius: variables.$mobile-control-small-border-radius;
  }

  @include helpers.tablet {
    @include helpers.fontSize(variables.$tablet-control-normal-font-size);

    row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
    padding: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5) variables.$tablet-narrow-layout-gutter;
    border-radius: variables.$tablet-control-small-border-radius;
  }

  @include helpers.desktop {
    @include helpers.fontSize(variables.$desktop-control-normal-font-size);

    row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
    padding: variables.$desktop-narrow-layout-gutter * 0.5 variables.$desktop-narrow-layout-gutter;
    border-radius: variables.$desktop-control-small-border-radius;
  }

  ul {
    margin: 0;
  }
}
