@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.linkPage {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: variables.$mobile-layout-gutter;
    width: 100%;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-layout-gutter;
    width: variables.$mobile-width;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-layout-gutter;
    width: variables.$mobile-width;
  }

  .linkCode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: colors.$white-1-50;
    font-weight: bold;

    @include helpers.mobile {
      padding: variables.$mobile-narrow-layout-gutter;
      border-radius: variables.$mobile-border-radius;

      @include helpers.fontSize(variables.$mobile-text-font-size);
    }

    @include helpers.tablet {
      padding: variables.$tablet-narrow-layout-gutter;
      border-radius: variables.$tablet-border-radius;

      @include helpers.fontSize(variables.$tablet-text-font-size);
    }

    @include helpers.desktop {
      padding: variables.$desktop-narrow-layout-gutter;
      border-radius: variables.$desktop-border-radius;

      @include helpers.fontSize(variables.$desktop-text-font-size);
    }
  }

  .divider {
    border-top: helpers.pxToRem(2px) solid colors.$white;
  }

  form {
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      row-gap: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      row-gap: variables.$desktop-layout-gutter;
    }
  }
}
