@import '../../styles/colors';
@import '../../styles/helpers';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;

  img {
    display: flex;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    border: pxToRem(4px) solid $white-1-50;
    background-color: $white-1-50;
    object-fit: contain;

    @include mobile {
      border-radius: $mobile-narrow-layout-gutter;
    }

    @include tablet {
      border-radius: $tablet-narrow-layout-gutter;
    }

    @include desktop {
      border-radius: $desktop-narrow-layout-gutter;
    }
  }
}