@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;

  img {
    display: flex;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    border: helpers.pxToRem(4px) solid colors.$white-1-50;
    background-color: colors.$white-1-50;
    object-fit: contain;

    @include helpers.mobile {
      border-radius: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      border-radius: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      border-radius: variables.$desktop-narrow-layout-gutter;
    }
  }
}