@use '../../../../../styles/colors';
@use '../../../../../styles/helpers';
@use '../../../../../styles/variables';

.answerRange {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .interactive,
  .interactive > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @include helpers.mobile {
      row-gap: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      row-gap: variables.$desktop-layout-gutter;
    }

    input[type='range'] {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
      appearance: none;
      -webkit-appearance: none;
      box-sizing: border-box;
      background-color: colors.$yellow-2;

      @include helpers.mobile {
        height: helpers.pxToRem(14px);
        border-radius: helpers.pxToRem(calc(14px / 2));
        -webkit-box-shadow: inset 0 0 0 helpers.pxToRem(2px) colors.$white;
        -moz-box-shadow: inset 0 0 0 helpers.pxToRem(2px) colors.$white;
        box-shadow: inset 0 0 0 helpers.pxToRem(2px) colors.$white;
      }

      @include helpers.tablet {
        height: helpers.pxToRem(18px);
        border-radius: helpers.pxToRem(calc(18px / 2));
        -webkit-box-shadow: inset 0 0 0 helpers.pxToRem(4px) colors.$white;
        -moz-box-shadow: inset 0 0 0 helpers.pxToRem(4px) colors.$white;
        box-shadow: inset 0 0 0 helpers.pxToRem(4px) colors.$white;
      }

      @include helpers.desktop {
        height: helpers.pxToRem(22px);
        border-radius: helpers.pxToRem(calc(22px / 2));
        -webkit-box-shadow: inset 0 0 0 helpers.pxToRem(6px) colors.$white;
        -moz-box-shadow: inset 0 0 0 helpers.pxToRem(6px) colors.$white;
        box-shadow: inset 0 0 0 helpers.pxToRem(6px) colors.$white;
      }

      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: colors.$yellow-2;
        cursor: grab;
        transition:
          transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 0.2s ease;
        border-style: solid;
        border-color: colors.$white;
        box-sizing: border-box;
        transform: translateZ(0); // GPU acceleration

        @include helpers.mobile {
          width: helpers.pxToRem(30px);
          height: helpers.pxToRem(30px);
          border-radius: helpers.pxToRem(15px);
          border-width: helpers.pxToRem(4px);
        }

        @include helpers.tablet {
          width: helpers.pxToRem(40px);
          height: helpers.pxToRem(40px);
          border-radius: helpers.pxToRem(20px);
          border-width: helpers.pxToRem(6px);
        }

        @include helpers.desktop {
          width: helpers.pxToRem(50px);
          height: helpers.pxToRem(50px);
          border-radius: helpers.pxToRem(25px);
          border-width: helpers.pxToRem(8px);
        }
      }

      &:hover {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          transform: scale(1.1) translateZ(0);
          box-shadow: 0 4px 12px rgba(251, 191, 36, 0.3);
        }
      }

      &:active {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          cursor: grabbing;
          transform: scale(1.15) translateZ(0);
          box-shadow: 0 6px 16px rgba(251, 191, 36, 0.4);
          transition:
            transform 0.1s ease,
            box-shadow 0.1s ease;
        }
      }

      &:focus {
        outline: none;
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          box-shadow:
            0 0 0 3px rgba(251, 191, 36, 0.2),
            0 4px 12px rgba(251, 191, 36, 0.3);
        }
      }

      &:disabled {
        background: colors.$gray-1;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          background: colors.$gray-1;
        }
      }
    }
  }
}
