@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  outline-style: solid;
  font-weight: bold;
  text-align: center;

  @mixin badge-size($size, $border-size) {
    margin: helpers.pxToRem($border-size);
    border-width: helpers.pxToRem($border-size);
    outline-width: helpers.pxToRem($border-size);
    outline-offset: helpers.pxToRem($border-size);
    width: helpers.pxToRem($size);
    height: helpers.pxToRem($size);
  }

  &.small {
    @include helpers.mobile {
      @include badge-size(20px, 1px);
      @include helpers.fontSize(variables.$mobile-text-font-size);
    }

    @include helpers.tablet {
      @include badge-size(30px, 2px);
      @include helpers.fontSize(variables.$tablet-text-font-size);
    }

    @include helpers.desktop {
      @include badge-size(40px, 3px);
      @include helpers.fontSize(variables.$desktop-text-font-size);
    }
  }

  &.large {
    @include helpers.mobile {
      @include badge-size(100px, 2px);
      @include helpers.fontSize(68px);
    }

    @include helpers.tablet {
      @include badge-size(120px, 3px);
      @include helpers.fontSize(78px);
    }

    @include helpers.desktop {
      @include badge-size(140px, 4px);
      @include helpers.fontSize(88px);
    }
  }

  &.green {
    outline-color: colors.$white;
    background-color: colors.$green-2;
    color: colors.$white;
  }

  &.red {
    outline-color: colors.$white;
    background-color: colors.$red-2;
    color: colors.$white;
  }

  &.orange {
    outline-color: colors.$white;
    background-color: colors.$orange-2;
    color: colors.$white;
  }

  &.gold {
    outline-color: colors.$white;
    background-color: colors.$gold;
    color: colors.$white;
  }

  &.silver {
    outline-color: colors.$white;
    background-color: colors.$silver;
    color: colors.$white;
  }

  &.bronze {
    outline-color: colors.$white;
    background-color: colors.$bronze;
    color: colors.$white;
  }

  &.white {
    outline-color: colors.$white;
    background-color: colors.$white;
    color: colors.$black-1-70;
  }

  // Celebration animations
  &.celebrationNormal {
    animation: successBounce 0.8s ease-out;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &.celebrationMajor {
    animation: successBounceMajor 0.8s ease-out;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &.celebrationEpic {
    animation: successBounceEpic 0.8s ease-out;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

// Normal celebration (streak 3, top 10)
@keyframes successBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(1.05);
  }
}

// Major celebration (streak 5, position 3)
@keyframes successBounceMajor {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(3deg);
  }
  50% {
    transform: scale(1.1) rotate(-2deg);
  }
  75% {
    transform: scale(1.15) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

// Epic celebration (streak 7+, position 1-2)
@keyframes successBounceEpic {
  0% {
    transform: scale(1) rotate(0deg);
  }
  20% {
    transform: scale(1.25) rotate(5deg);
  }
  40% {
    transform: scale(1.15) rotate(-5deg);
  }
  60% {
    transform: scale(1.2) rotate(3deg);
  }
  80% {
    transform: scale(1.1) rotate(-2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
