@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  @include mobile {
    row-gap: $layout-gutter;
    width: 100%;
  }

  @include tablet {
    row-gap: $layout-gutter * 1.5;
    width: $mobile-width;
  }

  @include desktop {
    row-gap: $layout-gutter * 2;
    width: $tablet-width;
  }
}
