@import '../../styles/colors';
@import '../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  @include mobile {
    row-gap: $layout-gutter;
    width: 100%;
  }

  @include tablet {
    row-gap: $layout-gutter * 1.5;
    width: $mobile-width;
  }

  @include desktop {
    row-gap: $layout-gutter * 2;
    width: $tablet-width;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;

    @include mobile {
      @include fontSize(18px);
    }

    @include tablet {
      @include fontSize(28px);
    }

    @include desktop {
      @include fontSize(38px);
    }
  }

  .leaderboard {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    row-gap: 0.5rem;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $white;
      border-radius: 0;
      color: rgba(0, 0, 0, 0.7);

      @include mobile {
        @include fontSize(16px);

        padding: $layout-gutter * 0.5;
      }

      @include tablet {
        @include fontSize(22px);

        padding: $layout-gutter * 0.75;
      }

      @include desktop {
        @include fontSize(28px);

        padding: $layout-gutter;
      }

      &:nth-child(-n+3) {
        background-color: $gold;
      }

      &:nth-child(n+4):nth-child(-n+6) {
        background-color: $silver;
      }

      &:nth-child(n+7):nth-child(-n+9) {
        background-color: $bronze;
      }

      &:nth-child(3n+1) {
        @include mobile {
          border-top-left-radius: $layout-gutter * 0.5;
          border-bottom-left-radius: $layout-gutter * 0.5;
        }

        @include tablet {
          border-top-left-radius: $layout-gutter * 0.75;
          border-bottom-left-radius: $layout-gutter * 0.75;
        }

        @include desktop {
          border-top-left-radius: $layout-gutter;
          border-bottom-left-radius: $layout-gutter;
        }
      }

      &:nth-child(3n+3) {
        align-items: flex-end;
        font-weight: bold;

        @include mobile {
          border-top-right-radius: $layout-gutter * 0.5;
          border-bottom-right-radius: $layout-gutter * 0.5;
        }

        @include tablet {
          border-top-right-radius: $layout-gutter * 0.75;
          border-bottom-right-radius: $layout-gutter * 0.75;
        }

        @include desktop {
          border-top-right-radius: $layout-gutter;
          border-bottom-right-radius: $layout-gutter;
        }
      }

      .position {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1 / 1;
          height: 100%;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.2);
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;

          @include mobile {
            padding: 0.2rem;
            @include fontSize(16px);
          }

          @include tablet {
            padding: 0.2rem;
            @include fontSize(22px);
          }

          @include desktop {
            padding: 0.2rem;
            @include fontSize(28px);
          }
        }
      }

      .score {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.8);

        @include mobile {
          padding: 0 $layout-gutter * 0.5;
          border-radius: pxToRem(8px);
        }

        @include tablet {
          padding: 0 $layout-gutter * 0.75;
          border-radius: pxToRem(10px);
        }

        @include desktop {
          padding: 0 $layout-gutter;
          border-radius: pxToRem(12px);
        }
      }
    }
  }
}