@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.main {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  row-gap: 0.5rem;
  width: 100%;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$white;
    border-radius: 0;
    color: colors.$black-1-70;

    @include helpers.mobile {
      @include helpers.fontSize(16px);

      padding: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      @include helpers.fontSize(22px);

      padding: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      @include helpers.fontSize(28px);

      padding: variables.$desktop-narrow-layout-gutter;
    }

    &.podium:nth-child(-n+3) {
      background-color: colors.$gold;
    }

    &.podium:nth-child(n+4):nth-child(-n+6) {
      background-color: colors.$silver;
    }

    &.podium:nth-child(n+7):nth-child(-n+9) {
      background-color: colors.$bronze;
    }

    &:nth-child(3n+1) {
      @include helpers.mobile {
        border-top-left-radius: variables.$mobile-narrow-layout-gutter;
        border-bottom-left-radius: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        border-top-left-radius: variables.$tablet-narrow-layout-gutter;
        border-bottom-left-radius: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        border-top-left-radius: variables.$desktop-narrow-layout-gutter;
        border-bottom-left-radius: variables.$desktop-narrow-layout-gutter;
      }
    }

    &:nth-child(3n+3) {
      align-items: flex-end;
      font-weight: bold;

      @include helpers.mobile {
        border-top-right-radius: variables.$mobile-narrow-layout-gutter;
        border-bottom-right-radius: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        border-top-right-radius: variables.$tablet-narrow-layout-gutter;
        border-bottom-right-radius: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        border-top-right-radius: variables.$desktop-narrow-layout-gutter;
        border-bottom-right-radius: variables.$desktop-narrow-layout-gutter;
      }
    }

    .position {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: colors.$black-1-10;
        color: colors.$black-1-70;
        font-weight: bold;

        @include helpers.mobile {
          width: helpers.pxToRem(30px);
          height: helpers.pxToRem(30px);
          padding: 0.2rem;
          @include helpers.fontSize(16px);
        }

        @include helpers.tablet {
          width: helpers.pxToRem(40px);
          height: helpers.pxToRem(40px);
          padding: 0.2rem;
          @include helpers.fontSize(22px);
        }

        @include helpers.desktop {
          width: helpers.pxToRem(50px);
          height: helpers.pxToRem(50px);
          padding: 0.2rem;
          @include helpers.fontSize(28px);
        }
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      @include helpers.mobile {
        column-gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        column-gap: variables.$tablet-narrow-layout-gutter;
      }

      @include helpers.desktop {
        column-gap: variables.$desktop-narrow-layout-gutter;
      }
    }

    .score {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: colors.$black-1-10;
      color: colors.$black-1-80;

      @include helpers.mobile {
        padding: 0 variables.$mobile-narrow-layout-gutter;
        border-radius: helpers.pxToRem(8px);
      }

      @include helpers.tablet {
        padding: 0 variables.$tablet-narrow-layout-gutter;
        border-radius: helpers.pxToRem(10px);
      }

      @include helpers.desktop {
        padding: 0 variables.$desktop-narrow-layout-gutter;
        border-radius: helpers.pxToRem(12px);
      }
    }
  }
}
