@import '../../../../../../../../styles/colors.scss';
@import '../../../../../../../../styles/helpers.scss';

.questionFieldContainer {
  display: flex;
  flex-direction: column;

  @include mobile {
    row-gap: $mobile-narrow-layout-gutter * 0.5;
  }

  @include tablet {
    row-gap: $tablet-narrow-layout-gutter * 0.5;
  }

  @include desktop {
    row-gap: $desktop-narrow-layout-gutter * 0.5;
  }

  &.layoutFull {
    width: 100%;
  }

  &.layoutHalf {
    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: calc(50% - ($desktop-narrow-layout-gutter * 0.5));
    }

    @include desktop {
      width: calc(50% - ($desktop-narrow-layout-gutter * 0.5));
    }
  }

  .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;

    @include mobile {
      @include fontSize(14px);

      column-gap: $mobile-narrow-layout-gutter * 0.5;
    }

    @include tablet {
      @include fontSize(16px);

      column-gap: $tablet-narrow-layout-gutter * 0.5;
    }

    @include desktop {
      @include fontSize(18px);

      column-gap: $desktop-narrow-layout-gutter * 0.5;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mobile {
    row-gap: $mobile-narrow-layout-gutter * 0.5;
    column-gap: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    row-gap: $tablet-narrow-layout-gutter * 0.5;
    column-gap: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    row-gap: $desktop-narrow-layout-gutter * 0.5;
    column-gap: $desktop-narrow-layout-gutter;
  }

  .option {
    position: relative;
    display: flex;
    flex-direction: column;

    @include mobile {
      width: calc(50% - $mobile-narrow-layout-gutter * 0.5);
    }

    @include tablet {
      width: calc(50% - $tablet-narrow-layout-gutter * 0.5);
    }

    @include desktop {
      width: calc(50% - $desktop-narrow-layout-gutter * 0.5);
    }
  }
}