@use '../../../../../../../../styles/colors';
@use '../../../../../../../../styles/helpers';
@use '../../../../../../../../styles/variables';

.questionFieldContainer {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.3);
  }

  @include helpers.tablet {
    row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.3);
  }

  @include helpers.desktop {
    row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.3);
  }

  &.layoutFull {
    width: 100%;
  }

  &.layoutHalf {
    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: calc(50% - (#{variables.$desktop-narrow-layout-gutter} * 0.5));
    }

    @include helpers.desktop {
      width: calc(50% - (#{variables.$desktop-narrow-layout-gutter} * 0.5));
    }
  }

  .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;

    @include helpers.mobile {
      @include helpers.fontSize(14px);

      column-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
    }

    @include helpers.tablet {
      @include helpers.fontSize(16px);

      column-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
    }

    @include helpers.desktop {
      @include helpers.fontSize(18px);

      column-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include helpers.mobile {
    row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
    column-gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
    column-gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
    column-gap: variables.$desktop-narrow-layout-gutter;
  }

  .option {
    position: relative;
    display: flex;
    flex-direction: column;

    @include helpers.mobile {
      width: calc(50% - #{variables.$mobile-narrow-layout-gutter} * 0.5);
    }

    @include helpers.tablet {
      width: calc(50% - #{variables.$tablet-narrow-layout-gutter} * 0.5);
    }

    @include helpers.desktop {
      width: calc(50% - #{variables.$desktop-narrow-layout-gutter} * 0.5);
    }
  }
}