@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include helpers.mobile {
    gap: variables.$mobile-layout-gutter;
    padding: helpers.pxToRem(2px);
  }

  @include helpers.tablet {
    gap: variables.$tablet-layout-gutter;
    flex-direction: row;
  }

  @include helpers.desktop {
    gap: variables.$desktop-layout-gutter;
    flex-direction: row;
  }

  .box {
    outline-style: solid;
    outline-color: colors.$white;

    border-style: solid;
    border-color: transparent;

    background-color: colors.$white;
    color: colors.$gray-4;

    @include helpers.mobile {
      height: 98px;
      margin: helpers.pxToRem(4px) 0;
      outline-width: helpers.pxToRem(2px);
      outline-offset: helpers.pxToRem(2px);
      border-width: helpers.pxToRem(2px);
      border-radius: helpers.pxToRem(6px);
    }

    @include helpers.tablet {
      height: 118px;
      margin: helpers.pxToRem(6px) 0;
      outline-width: helpers.pxToRem(3px);
      outline-offset: helpers.pxToRem(3px);
      border-width: helpers.pxToRem(3px);
      border-radius: helpers.pxToRem(8px);
    }

    @include helpers.desktop {
      height: 138px;
      margin: helpers.pxToRem(8px) 0;
      outline-width: helpers.pxToRem(4px);
      outline-offset: helpers.pxToRem(4px);
      border-width: helpers.pxToRem(4px);
      border-radius: helpers.pxToRem(10px);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    @include helpers.mobile {
      padding: variables.$mobile-layout-gutter;

      @include helpers.fontSize(16px);
    }

    @include helpers.tablet {
      padding: variables.$tablet-layout-gutter;

      @include helpers.fontSize(20px);
    }

    @include helpers.desktop {
      padding: variables.$desktop-layout-gutter;

      @include helpers.fontSize(24px);
    }
  }

  .pin {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include helpers.mobile {
      padding: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      padding: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      padding: variables.$desktop-layout-gutter;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    div:nth-child(1) {
      font-weight: normal;

      @include helpers.mobile {
        @include helpers.fontSize(16px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(20px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(24px);
      }
    }

    div:nth-child(2) {
      font-weight: bold;

      @include helpers.mobile {
        @include helpers.fontSize(28px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(38px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(48px);
      }
    }
  }

  .qr {
    display: flex;
    flex-direction: column;

    svg {
      width: auto;
      max-height: 100%;
      height: 100%;
      padding: helpers.pxToRem(4px);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  .players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include helpers.mobile {
      gap: variables.$mobile-layout-gutter;
    }

    @include helpers.tablet {
      gap: variables.$tablet-layout-gutter;
    }

    @include helpers.desktop {
      gap: variables.$desktop-layout-gutter;
    }
  }
}
