@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

$outline-offset: pxToRem(2px);

.main {
  display: flex;
  flex-direction: column;
  margin: $outline-offset;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    border: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    outline-offset: $outline-offset;

    &.primary {
      border: $outline-offset solid transparent;
      background-color: $white;
      outline: $outline-offset solid $white;
      color: $gray-4;

      &:hover {
        background-color: $gray-1;
      }
    }

    &.secondary {
      border: $outline-offset solid transparent;
      background-color: $yellow-2;
      outline: $outline-offset solid $yellow-2;
      color: $gray-4;

      &:hover {
        background-color: $yellow-1;
        outline-color: $yellow-1;
      }
    }

    &:disabled {
      background-color: $gray-1;
      outline-color: $gray-1;
      color: $gray-2;

      &:hover {
        background-color: $gray-1;
        outline-color: $gray-1;
        color: $gray-2;
      }
    }
  }

  @include mobile {
    height: pxToRem(42px);

    button {
      padding: 0 $layout-gutter * 0.8;
      column-gap: $layout-gutter * 0.5;
      border-radius: $layout-gutter * 0.5;
      @include fontSize(16px);
    }

    &.small {
      height: pxToRem(32px);

      button {
        @include fontSize(14px);

        span {
          margin-top: -2%;
        }
      }
    }
  }
  @include tablet {
    height: pxToRem(44px);

    button {
      padding: 0 $layout-gutter * 0.9;
      column-gap: $layout-gutter * 0.6;
      border-radius: $layout-gutter * 0.6;
      @include fontSize(17px);
    }

    &.small {
      height: pxToRem(34px);

      button {
        @include fontSize(15px);

        span {
          margin-top: -2%;
        }
      }
    }
  }
  @include desktop {
    height: pxToRem(46px);

    button {
      padding: 0 $layout-gutter;
      column-gap: $layout-gutter * 0.7;
      border-radius: $layout-gutter * 0.7;
      @include fontSize(18px);
    }

    &.small {
      height: pxToRem(36px);

      button {
        @include fontSize(16px);

        span {
          margin-top: -2%;
        }
      }
    }
  }
}
