@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

$outline-offset: pxToRem(2px);

.main {
  display: flex;
  flex-direction: column;
  margin: $outline-offset;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    border: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    outline-offset: $outline-offset;

    &.primary {
      border: $outline-offset solid transparent;
      background-color: $white;
      outline: $outline-offset solid $white;
      color: $gray-4;

      &:hover {
        background-color: $gray-1;
      }
    }

    &.secondary {
      border: $outline-offset solid transparent;
      background-color: $yellow-2;
      outline: $outline-offset solid $yellow-2;
      color: $gray-4;

      &:hover {
        background-color: $yellow-1;
        outline-color: $yellow-1;
      }
    }

    &.plain {
      border: none;
      background-color: transparent;
      outline: none;
      outline-offset: 0;
      color: $white;
      border-radius: 0;
      padding: 0;

      &:hover {
        color: $gray-1;
      }
    }

    &:disabled {
      &:not(&.plain) {
        background-color: $gray-1;
        outline-color: $gray-1;
        color: $gray-2;
        cursor: default;

        &:hover {
          background-color: $gray-1;
          outline-color: $gray-1;
          color: $gray-2;
        }
      }
    }
  }

  @include mobile {
    height: pxToRem(42px);

    button {
      column-gap: $layout-gutter * 0.5;
      @include fontSize(16px);

      &:not(.plain) {
        padding: 0 $layout-gutter * 0.8;
        border-radius: $layout-gutter * 0.5;
      }
    }

    &.small {
      height: pxToRem(32px);

      button {
        &:not(.plain) {
          @include fontSize(14px);
        }

        &.plain {
          svg {
            @include fontSize(24px);
          }
        }
      }
    }
  }
  @include tablet {
    height: pxToRem(44px);

    button {
      column-gap: $layout-gutter * 0.6;
      @include fontSize(17px);

      &:not(.plain) {
        padding: 0 $layout-gutter * 0.9;
        border-radius: $layout-gutter * 0.6;
      }
    }

    &.small {
      height: pxToRem(34px);

      button {
        &:not(.plain) {
          @include fontSize(15px);
        }

        &.plain {
          svg {
            @include fontSize(25px);
          }
        }
      }
    }
  }

  @include desktop {
    height: pxToRem(46px);

    button {
      column-gap: $layout-gutter * 0.7;

      &:not(.plain) {
        border-radius: $layout-gutter * 0.7;
        padding: 0 $layout-gutter;

        @include fontSize(18px);
      }

      &.plain {
        svg {
          @include fontSize(28px);
        }
      }
    }

    &.small {
      height: pxToRem(36px);

      button {
        &:not(.plain) {
          @include fontSize(16px);
        }

        &.plain {
          svg {
            @include fontSize(26px);
          }
        }
      }
    }
  }
}
