@import '../../styles/inputs';

$checkbox-height-ratio: 0.7;

$mobile-checkbox-normal-size: calc($mobile-control-normal-height * $checkbox-height-ratio);
$tablet-checkbox-normal-size: calc($tablet-control-normal-height * $checkbox-height-ratio);
$desktop-checkbox-normal-size: calc($desktop-control-normal-height * $checkbox-height-ratio);

$mobile-checkbox-small-size: calc($mobile-control-small-height * $checkbox-height-ratio);
$tablet-checkbox-small-size: calc($tablet-control-small-height * $checkbox-height-ratio);
$desktop-checkbox-small-size: calc($desktop-control-small-height * $checkbox-height-ratio);

$mobile-checkbox-normal-font-size: $mobile-control-normal-font-size;
$tablet-checkbox-normal-font-size: $tablet-control-normal-font-size;
$desktop-checkbox-normal-font-size: $desktop-control-normal-font-size;

$mobile-checkbox-small-font-size: calc($mobile-checkbox-normal-font-size * 0.8);
$tablet-checkbox-small-font-size: calc($tablet-checkbox-normal-font-size * 0.8);
$desktop-checkbox-small-font-size: calc($desktop-checkbox-normal-font-size * 0.8);

.inputContainer {
  display: flex;
  flex-direction: column;

  .textFieldInputContainer {
    @extend .input;

    &.small {
      @extend .input-size-small;
    }

    &.error {
      @extend .input-kind-destructive;
    }

    &.textFieldInputKindPrimary {
      @extend .input-kind-primary;
    }

    &.textFieldInputKindSecondary {
      @extend .input-kind-secondary;
    }

    .checkboxLabel {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: $control-outside-border-width solid $control-primary-success-color;
      border-radius: 50%;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      cursor: pointer;

      input[type=checkbox] {
        display: none;
      }

      .checkboxIcon {
        color: $control-primary-normal-color;
      }

      &:has(> input:checked) {
        background-color: $control-secondary-success-color;
      }

      &:has(> input:disabled) {
        background-color: $gray-2;
        border-color: $gray-3;
      }

      @include mobile {
        width: $mobile-checkbox-normal-size;
        height: $mobile-checkbox-normal-size;

        @include fontSize($tablet-checkbox-normal-font-size);
      }

      @include tablet {
        width: $tablet-checkbox-normal-size;
        height: $tablet-checkbox-normal-size;

        @include fontSize($tablet-checkbox-normal-font-size);
      }

      @include desktop {
        width: $desktop-checkbox-normal-size;
        height: $desktop-checkbox-normal-size;

        @include fontSize($desktop-checkbox-normal-font-size);
      }
    }

    @include mobile {
      &.small {
        .checkboxLabel {
          width: $mobile-checkbox-small-size;
          height: $mobile-checkbox-small-size;

          @include fontSize($mobile-checkbox-small-font-size);
        }
      }
    }

    @include tablet {
      &.small {
        .checkboxLabel {
          width: $tablet-checkbox-small-size;
          height: $tablet-checkbox-small-size;

          @include fontSize($tablet-checkbox-small-font-size);
        }
      }
    }

    @include desktop {
      &.small {
        .checkboxLabel {
          width: $desktop-checkbox-small-size;
          height: $desktop-checkbox-small-size;

          @include fontSize($desktop-checkbox-small-font-size);
        }
      }
    }
  }

  .errorContainer {
    @extend .input-error;
  }

  @include mobile {
    row-gap: $mobile-control-normal-layout-gutter;
  }

  @include tablet {
    row-gap: $tablet-control-normal-layout-gutter;
  }

  @include desktop {
    row-gap: $desktop-control-normal-layout-gutter;
  }
}