@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

$outline-offset: pxToRem(2px);

.main {
  display: flex;
  flex-direction: column;
  margin: $outline-offset;

  input {
    display: flex;
    flex-direction: column;
    appearance: none;
    height: 100%;
    outline-offset: $outline-offset;
    border: none;
    outline: $outline-offset solid $white;
    background-color: $white;
    color: $gray-4;

    &:disabled {
      background-color: $gray-1;
      outline-color: $gray-1;
      color: $gray-2;
    }
  }

  @include mobile {
    height: pxToRem(42px);

    &.small {
      height: pxToRem(32px);

      input {
        padding: 0 $layout-gutter * 0.5;
        @include fontSize(14px);
      }
    }

    input {
      padding: 0 $layout-gutter * 0.8;
      border-radius: $layout-gutter * 0.5;
      @include fontSize(16px);
    }
  }

  @include tablet {
    height: pxToRem(44px);

    &.small {
      height: pxToRem(34px);

      input {
        padding: 0 $layout-gutter * 0.6;
        @include fontSize(15px);
      }
    }

    input {
      padding: 0 $layout-gutter * 0.9;
      border-radius: $layout-gutter * 0.6;
      @include fontSize(17px);
    }
  }

  @include desktop {
    height: pxToRem(46px);

    &.small {
      height: pxToRem(36px);

      input {
        padding: 0 $layout-gutter * 0.7;
        @include fontSize(16px);
      }
    }

    input {
      padding: 0 $layout-gutter;
      border-radius: $layout-gutter * 0.7;
      @include fontSize(18px);
    }
  }
}