@import '../../styles/helpers.scss';

.actions {
  display: flex;
  flex-direction: row;

  @include mobile {
    column-gap: $mobile-narrow-layout-gutter;
  }

  @include tablet {
    column-gap: $tablet-narrow-layout-gutter;
  }

  @include desktop {
    column-gap: $desktop-narrow-layout-gutter;
  }

  > div {
    flex: 1;
  }
}
