@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

@mixin iconSize() {
  @include mobile {
    width: pxToRem(40px);
    height: pxToRem(40px);
  }

  @include tablet {
    width: pxToRem(42px);
    height: pxToRem(42px);
  }

  @include desktop {
    width: pxToRem(44px);
    height: pxToRem(44px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 100dvh;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
  background: $blue-1;
  background: linear-gradient(180deg, $blue-1 25%, 75%, $blue-2);
  row-gap: $layout-gutter;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $layout-gutter $layout-gutter 0 $layout-gutter;
    width: 100%;

    @include mobile {
      column-gap: $mobile-narrow-layout-gutter
    }
    @include tablet {
      column-gap: $tablet-narrow-layout-gutter
    }
    @include desktop {
      column-gap: $desktop-narrow-layout-gutter;
    }

    .logo {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      padding: 0;

      .icon {
        background-image: url(../../assets/images/logo-small.svg);
        background-size: 100% auto;

        @include iconSize();
      }

      .text {
        position: relative;
        @include fontSize(20px);
        font-weight: bolder;
        color: $white;
        top: pxToRem(-1px);
      }

      @include mobile {
        column-gap: $layout-gutter * 0.7;

        .icon {
          border-radius: pxToRem(10px);

          &::after {
            @include fontSize(24px);
          }
        }
      }

      @include tablet {
        column-gap: $layout-gutter * 0.85;

        .icon {
          border-radius: pxToRem(12px);

          &::after {
            @include fontSize(28px);
          }
        }

        .text {
          @include fontSize(24px);
        }
      }

      @include desktop {
        column-gap: $layout-gutter;

        .icon {
          border-radius: pxToRem(14px);

          &::after {
            @include fontSize(32px);
          }
        }

        .text {
          @include fontSize(27px);
        }
      }
    }

    .side {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      column-gap: $layout-gutter;
      flex: 1;

      @include mobile {
        column-gap: $mobile-narrow-layout-gutter
      }
      @include tablet {
        column-gap: $tablet-narrow-layout-gutter
      }
      @include desktop {
        column-gap: $desktop-narrow-layout-gutter;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        color: $white;

        @include mobile {
          @include fontSize(16px);
        }
        @include tablet {
          @include fontSize(18px);
        }
        @include desktop {
          @include fontSize(20px);
        }
      }

      a:hover {
        text-decoration: underline;
      }

      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include iconSize();

        button {
          display: flex;
          flex-direction: column;
          appearance: none;
          border: none;
          outline: none;
          background: none;
          cursor: pointer;
          padding: 0;

          img {
            @include recolor($white);

            &:hover {
              @include recolor($white, 0.8);
            }

            @include iconSize();
          }
        }
      }
    }

    @include tablet {
      &:not(&.fullWidth) {
        width: $tablet-width;
      }
    }
    @include desktop {
      &:not(&.fullWidth) {
        width: $desktop-width;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &.noPadding {
      padding-bottom: 0;
    }

    &.startAlign {
      justify-content: flex-start;
      align-items: center;
    }

    &.centerAlign {
      justify-content: center;
      align-items: center;
    }

    &.spaceBetweenAlign {
      justify-content: space-between;
      align-items: center;
    }

    &.fullHeight {
      height: 100%;
    }

    @include mobile {
      row-gap: $mobile-layout-gutter * 0.5;
      padding: $mobile-layout-gutter;

      &.fullWidth {
        width: 100%;
      }
    }

    @include tablet {
      row-gap: $tablet-layout-gutter;
      padding: $tablet-layout-gutter;

      &.mediumWidth {
        width: $tablet-width;
      }

      &.smallWidth {
        width: $mobile-width;
      }

      &.fullWidth {
        width: $tablet-width;
      }
    }

    @include desktop {
      row-gap: $desktop-layout-gutter;
      padding: $desktop-layout-gutter;

      &.mediumWidth {
        width: $tablet-width;
      }

      &.smallWidth {
        width: $mobile-width;
      }

      &.fullWidth {
        width: $desktop-width;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: $layout-gutter;
    padding: 0 $layout-gutter $layout-gutter $layout-gutter;
    width: 100%;
    color: $white;

    @include tablet {
      &:not(&.fullWidth) {
        width: $tablet-width;
      }
    }
    @include desktop {
      &:not(&.fullWidth) {
        width: $desktop-width;
      }
    }
  }
}
