@use '../../../../../styles/helpers';
@use '../../../../../styles/variables';

.answerSort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include helpers.mobile {
    row-gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    row-gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    row-gap: variables.$desktop-narrow-layout-gutter;
  }

  .table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: variables.$mobile-width;
    }

    @include helpers.desktop {
      width: variables.$tablet-width;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include helpers.mobile {
      width: 100%;
    }

    @include helpers.tablet {
      width: variables.$mobile-width;
    }

    @include helpers.desktop {
      width: variables.$tablet-width;
    }
  }
}
