@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.details {
  display: grid;
  background-color: colors.$white-1-15;
  border: variables.$control-outside-border-width solid colors.$white-1-25;

  @include helpers.mobile {
    grid-template-columns: 1fr 1fr;
    gap: variables.$mobile-narrow-layout-gutter;
    width: 100%;
    border-radius: variables.$mobile-border-radius;
    padding: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    grid-template-columns: 1fr 1fr 1fr;
    gap: variables.$tablet-narrow-layout-gutter;
    width: 100%;
    border-radius: variables.$tablet-border-radius;
    padding: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: variables.$desktop-narrow-layout-gutter;
    width: variables.$desktop-width * 0.85;
    border-radius: variables.$desktop-border-radius;
    padding: variables.$desktop-narrow-layout-gutter;
  }

  .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .icon, .value {
      color: colors.$white;
    }

    .icon {
      opacity: 0.95;
    }

    .value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
      opacity: 0.68;
    }

    @include helpers.mobile {
      gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);

      @include helpers.fontSize(16px);
    }

    @include helpers.tablet {
      gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);

      @include helpers.fontSize(18px);
    }

    @include helpers.desktop {
      gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);

      @include helpers.fontSize(20px);
    }
  }
}
