@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/loading';

.loadingSpinnerContainer {
  @extend .loading-spinner;

  @include helpers.mobile {
    $--mobile-loading-spinner-size: helpers.pxToRem(80px);
    @include loading.loading-spinner-dimensions($--mobile-loading-spinner-size, colors.$white, default-mobile);
  }

  @include helpers.tablet {
    $--tablet-loading-spinner-size: helpers.pxToRem(100px);
    @include loading.loading-spinner-dimensions($--tablet-loading-spinner-size, colors.$white, default-tablet);
  }

  @include helpers.desktop {
    $--desktop-loading-spinner-size: helpers.pxToRem(120px);
    @include loading.loading-spinner-dimensions($--desktop-loading-spinner-size, colors.$white, default-desktop);
  }
}
