@import '../../styles/colors';
@import '../../styles/helpers';
@import '../../styles/loading';

.loadingSpinnerContainer {
  @extend .loading-spinner;

  @include mobile {
    $--mobile-loading-spinner-size: pxToRem(80px);
    @include loading-spinner-dimensions($--mobile-loading-spinner-size, $white, default-mobile);
  }

  @include tablet {
    $--tablet-loading-spinner-size: pxToRem(100px);
    @include loading-spinner-dimensions($--tablet-loading-spinner-size, $white, default-tablet);
  }

  @include desktop {
    $--desktop-loading-spinner-size: pxToRem(120px);
    @include loading-spinner-dimensions($--desktop-loading-spinner-size, $white, default-desktop);
  }
}
