@use '../../../../../../styles/colors';
@use '../../../../../../styles/helpers';
@use '../../../../../../styles/variables';

$outline-offset: helpers.pxToRem(2px);

.questionPickerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include helpers.mobile {
    column-gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    column-gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    column-gap: variables.$desktop-narrow-layout-gutter;
  }

  .questionPickerItemContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    background-color: colors.$white;
    outline: colors.$white solid $outline-offset;
    outline-offset: $outline-offset;
    border: $outline-offset solid transparent;
    margin: calc($outline-offset * 2);

    @include helpers.mobile {
      column-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
      padding: variables.$mobile-narrow-layout-gutter;
      border-radius: variables.$mobile-border-radius;
    }

    @include helpers.tablet {
      column-gap: calc(#{variables.$tablet-narrow-layout-gutter} * 0.5);
      padding: variables.$tablet-narrow-layout-gutter;
      border-radius: variables.$tablet-border-radius;
    }

    @include helpers.desktop {
      column-gap: variables.$desktop-narrow-layout-gutter;
      padding: variables.$desktop-narrow-layout-gutter;
      border-radius: variables.$desktop-border-radius;
    }
  }

  .addQuestionButtonWrapper {
    display: flex;
    flex-direction: column;

    .addQuestionButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      outline: colors.$yellow-2 solid $outline-offset;
      border: $outline-offset solid transparent;
      border-radius: 50%;
      padding: 0;
      background-color: transparent;
      color: colors.$yellow-2;
      cursor: pointer;

      @include helpers.mobile {
        @include helpers.fontSize(28px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(32px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(32px);
      }
    }
  }
}
