@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  position: relative;

  &.kindPrimary {
    border-color: colors.$white;

    .content {
      background-color: colors.$white;
      color: colors.$gray-4;
    }
  }

  &.kindCallToAction {
    border-color: colors.$yellow-2;

    .content {
      background-color: colors.$yellow-2;
      color: colors.$gray-4;
    }
  }

  &.kindSuccess {
    border-color: colors.$green-2;

    .content {
      background-color: colors.$green-2;
      color: colors.$white;
    }
  }

  &.sizeSmall {
    @include helpers.mobile {
      width: 100%;
    }
    @include helpers.tablet {
      width: variables.$tablet-width * 0.4;
    }
    @include helpers.desktop {
      width: variables.$desktop-width * 0.4;
    }
  }

  &.sizeMedium {
    @include helpers.mobile {
      width: 100%;
    }
    @include helpers.tablet {
      width: variables.$tablet-width * 0.6;
    }
    @include helpers.desktop {
      width: variables.$desktop-width * 0.6;
    }
  }

  &.sizeLarge {
    @include helpers.mobile {
      width: 100%;
    }
    @include helpers.tablet {
      width: variables.$tablet-width * 0.8;
    }
    @include helpers.desktop {
      width: variables.$desktop-width * 0.8;
    }
  }

  &.sizeFull {
    width: 100%;
  }

  &.center {
    .content {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    a {
      font-style: italic;
      font-weight: bold;
      color: colors.$gray-4;
      cursor: pointer;
    }
  }

  @include helpers.mobile {
    padding: helpers.pxToRem(2px);
    border-radius: variables.$mobile-control-normal-border-radius;
    border-width: helpers.pxToRem(2px);

    .content {
      padding: variables.$mobile-component-layout-gutter;
      border-radius: calc(
        #{variables.$mobile-control-normal-border-radius} / 2
      );
      line-height: helpers.pxToRem(26px);

      @include helpers.fontSize(16px);
    }
  }

  @include helpers.tablet {
    padding: helpers.pxToRem(2px);
    border-radius: variables.$tablet-control-normal-border-radius;
    border-width: helpers.pxToRem(2px);

    .content {
      padding: variables.$tablet-component-layout-gutter;
      border-radius: calc(
        #{variables.$tablet-control-normal-border-radius} / 2
      );
      line-height: helpers.pxToRem(28px);

      @include helpers.fontSize(18px);
    }
  }

  @include helpers.desktop {
    padding: helpers.pxToRem(3px);
    border-radius: variables.$desktop-control-normal-border-radius;
    border-width: helpers.pxToRem(3px);

    .content {
      padding: variables.$desktop-component-layout-gutter;
      border-radius: calc(
        #{variables.$desktop-control-normal-border-radius} / 2
      );
      line-height: helpers.pxToRem(30px);

      @include helpers.fontSize(20px);
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: colors.$white;
    color: colors.$gray-4;
    cursor: pointer;
    position: absolute;

    @include helpers.mobile {
      top: calc(#{helpers.pxToRem(11px) * -0.85});
      right: calc(#{helpers.pxToRem(11px) * -0.85});
      width: helpers.pxToRem(22px);
      height: helpers.pxToRem(22px);
      border-radius: helpers.pxToRem(22px);

      @include helpers.fontSize(14px);
    }

    @include helpers.tablet {
      top: calc(#{helpers.pxToRem(13px) * -0.85});
      right: calc(#{helpers.pxToRem(13px) * -0.85});
      width: helpers.pxToRem(26px);
      height: helpers.pxToRem(26px);
      border-radius: helpers.pxToRem(13px);

      @include helpers.fontSize(16px);
    }

    @include helpers.desktop {
      top: calc(#{helpers.pxToRem(15px) * -0.85});
      right: calc(#{helpers.pxToRem(15px) * -0.85});
      width: helpers.pxToRem(30px);
      height: helpers.pxToRem(30px);
      border-radius: helpers.pxToRem(15px);

      @include helpers.fontSize(18px);
    }

    &:hover {
      color: colors.$gray-2;
    }
  }
}
