@use '../../../styles/helpers';
@use '../../../styles/variables';

.gettingStarted {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
  }

  @include helpers.tablet {
    row-gap: calc(#{variables.$tablet-narrow-layout-gutter * 0.5});
  }

  @include helpers.desktop {
    row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
  }
}
