@use 'sass:color';
@use '../../../../../../styles/colors';
@use '../../../../../../styles/helpers';
@use '../../../../../../styles/variables';

$outline-offset: helpers.pxToRem(2px);

.gameModeSelectionModalWrapper {
  display: flex;
  flex-direction: row;

  @include helpers.mobile {
    column-gap: variables.$mobile-narrow-layout-gutter;
  }

  @include helpers.tablet {
    column-gap: variables.$tablet-narrow-layout-gutter;
  }

  @include helpers.desktop {
    column-gap: variables.$desktop-narrow-layout-gutter;
  }

  .classic, .zeroToOneHundred {
    display: flex;
    flex-direction: column;
    flex: 1;
    appearance: none;
    background-color: color.mix(colors.$white, colors.$blue-2, 75%);
    outline: color.mix(colors.$white, colors.$blue-2, 75%) solid $outline-offset;
    outline-offset: $outline-offset;
    border: $outline-offset solid transparent;
    margin: calc($outline-offset * 2);
    color: colors.$gray-4;
    font-weight: bold;
    cursor: pointer;

    @include helpers.mobile {
      row-gap: calc(#{variables.$mobile-narrow-layout-gutter} * 0.5);
      padding: helpers.pxToRem(10px) helpers.pxToRem(2px);
      border-width: helpers.pxToRem(1px);
      border-radius: variables.$mobile-border-radius;

      @include helpers.fontSize(16px);
    }

    @include helpers.tablet {
      row-gap: variables.$tablet-narrow-layout-gutter * 0.5;
      padding: helpers.pxToRem(13px) helpers.pxToRem(4px);
      border-width: helpers.pxToRem(2px);
      border-radius: variables.$tablet-border-radius;

      @include helpers.fontSize(18px);
    }

    @include helpers.desktop {
      row-gap: calc(#{variables.$desktop-narrow-layout-gutter} * 0.5);
      padding: helpers.pxToRem(16px) helpers.pxToRem(6px);
      border-width: helpers.pxToRem(3px);
      border-radius: variables.$desktop-border-radius;

      @include helpers.fontSize(20px);
    }

    &:hover {
      background-color: color.mix(colors.$white, colors.$blue-2, 85%);
      outline-color: color.mix(colors.$white, colors.$blue-2, 85%);
      color: color.mix(colors.$white, colors.$gray-4, 30%);
    }

    .description {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-weight: normal;

      @include helpers.mobile {
        line-height: helpers.pxToRem(18px);

        @include helpers.fontSize(12px);
      }

      @include helpers.tablet {
        line-height: helpers.pxToRem(21px);

        @include helpers.fontSize(14px);
      }

      @include helpers.desktop {
        line-height: helpers.pxToRem(24px);

        @include helpers.fontSize(16px);
      }
    }
  }
}