@import '../../styles/colors.scss';
@import '../../styles/helpers.scss';

.pageDivider {
  display: flex;
  flex-direction: column;
  border-top: 2px solid $white;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: $mobile-width;
  }

  @include desktop {
    width: $tablet-width;
  }
}
