@import '../../../../styles/colors';
@import '../../../../styles/helpers';

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  .interactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    form {
      display: flex;
      justify-content: center;
      flex: 1;

      @include mobile {
        flex-direction: column;
        gap: $mobile-narrow-layout-gutter;
      }

      @include tablet {
        flex-direction: row;
        align-items: center;
        gap: $tablet-narrow-layout-gutter;

        div:first-child {
          flex: 1;
        }
      }

      @include desktop {
        flex-direction: row;
        align-items: center;
        gap: $desktop-narrow-layout-gutter;

        div:first-child {
          flex: 1;
        }
      }
    }
  }

  .nonInteractive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $turquoise-2;
    flex: 1;

    @include mobile {
      column-gap: $mobile-layout-gutter;
      padding: $mobile-layout-gutter;
      border-radius: pxToRem(8px);
    }

    @include tablet {
      column-gap: $tablet-layout-gutter;
      padding: $tablet-layout-gutter;
      border-radius: pxToRem(12px);
    }

    @include desktop {
      column-gap: $desktop-layout-gutter;
      padding: $desktop-layout-gutter;
      border-radius: pxToRem(16px);
    }

    svg {
      display: flex;
      flex-direction: column;

      @include mobile {
        @include fontSize(28px);
      }

      @include tablet {
        @include fontSize(38px);
      }

      @include desktop {
        @include fontSize(48px);
      }
    }

    span {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      width: 100%;
      flex: 1;

      @include mobile {
        @include fontSize(18px);
      }

      @include tablet {
        @include fontSize(28px);
      }

      @include desktop {
        @include fontSize(38px);
      }
    }
  }
}
