@use '../../../../styles/colors';
@use '../../../../styles/helpers';
@use '../../../../styles/variables';

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  .interactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    form {
      display: flex;
      justify-content: center;
      flex: 1;

      @include helpers.mobile {
        flex-direction: column;
        gap: variables.$mobile-narrow-layout-gutter;
      }

      @include helpers.tablet {
        flex-direction: row;
        align-items: center;
        gap: variables.$tablet-narrow-layout-gutter;

        div:first-child {
          flex: 1;
        }
      }

      @include helpers.desktop {
        flex-direction: row;
        align-items: center;
        gap: variables.$desktop-narrow-layout-gutter;

        div:first-child {
          flex: 1;
        }
      }
    }
  }

  .nonInteractive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: colors.$turquoise-2;
    flex: 1;

    @include helpers.mobile {
      column-gap: variables.$mobile-layout-gutter;
      padding: variables.$mobile-layout-gutter;
      border-radius: helpers.pxToRem(8px);
    }

    @include helpers.tablet {
      column-gap: variables.$tablet-layout-gutter;
      padding: variables.$tablet-layout-gutter;
      border-radius: helpers.pxToRem(12px);
    }

    @include helpers.desktop {
      column-gap: variables.$desktop-layout-gutter;
      padding: variables.$desktop-layout-gutter;
      border-radius: helpers.pxToRem(16px);
    }

    svg {
      display: flex;
      flex-direction: column;

      @include helpers.mobile {
        @include helpers.fontSize(28px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(38px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(48px);
      }
    }

    span {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      width: 100%;
      flex: 1;

      @include helpers.mobile {
        @include helpers.fontSize(18px);
      }

      @include helpers.tablet {
        @include helpers.fontSize(28px);
      }

      @include helpers.desktop {
        @include helpers.fontSize(38px);
      }
    }
  }
}
