@use '../../styles/helpers';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > img {
    @include helpers.mobile {
      height: 120px;
    }

    @include helpers.tablet {
      height: 168px;
    }

    @include helpers.desktop {
      height: 192px;
    }
  }
}
