@use '../../styles/helpers';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (prefers-reduced-motion: no-preference) {
    animation: bounceIn 0.6s ease-out;
  }

  > img {
    @include helpers.mobile {
      height: 160px;
    }

    @include helpers.tablet {
      height: 224px;
    }

    @include helpers.desktop {
      height: 256px;
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
