@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

.fullHeight {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  overflow: auto;

  @include helpers.mobile {
    gap: variables.$mobile-layout-gutter;
  }

  @include helpers.tablet {
    gap: variables.$tablet-layout-gutter;
  }

  @include helpers.desktop {
    gap: variables.$desktop-layout-gutter;
  }
}
