@use '../../../../../styles/helpers';
@use '../../../../../styles/variables';

.playerManagementModal {
  display: flex;
  flex-direction: column;

  @include helpers.mobile {
    row-gap: variables.$mobile-layout-gutter;
  }
  @include helpers.tablet {
    row-gap: variables.$tablet-layout-gutter;
  }
  @include helpers.desktop {
    row-gap: variables.$desktop-layout-gutter;
  }

  .message {
    @include helpers.mobile {
      @include helpers.fontSize(20px);
    }

    @include helpers.tablet {
      @include helpers.fontSize(22px);
    }

    @include helpers.desktop {
      @include helpers.fontSize(24px);
    }
  }

  .flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;

    @include helpers.mobile {
      gap: variables.$mobile-narrow-layout-gutter;
      padding: variables.$mobile-narrow-layout-gutter;
    }

    @include helpers.tablet {
      gap: variables.$tablet-narrow-layout-gutter;
      padding: variables.$tablet-narrow-layout-gutter;
    }

    @include helpers.desktop {
      gap: variables.$desktop-narrow-layout-gutter;
      padding: variables.$desktop-narrow-layout-gutter;
    }
  }
}
