# .github/workflows/build.yml
name: Build
on:
  workflow_call:

permissions:
  contents: read
  pull-requests: write

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install Yarn
        run: npm install -g yarn@1.22.22

      - name: Cache Yarn cache
        uses: actions/cache@v5
        id: yarn-cache
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Docker compose up
        run: docker compose up -d --wait

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

      - name: Test & Coverage
        run: yarn test:coverage

      - name: Docker compose down
        if: always()
        run: docker compose down -v

      - name: Upload Klurigo artifacts for Sentry
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v6
        with:
          name: klurigo-sentry-artifacts
          path: packages/quiz/dist/assets/**/*.map

      - name: Upload Klurigo Service artifacts for Sentry
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v6
        with:
          name: klurigo-service-sentry-artifacts
          path: packages/quiz-service/dist/**/*.map

      - name: Upload coverage (common)
        uses: codecov/codecov-action@v5
        with:
          files: ./packages/common/coverage/lcov.info
          flags: common
          name: common
          disable_search: true
          fail_ci_if_error: true
          verbose: true

      - name: Upload coverage (quiz)
        uses: codecov/codecov-action@v5
        with:
          files: ./packages/quiz/coverage/lcov.info
          flags: quiz
          name: quiz
          disable_search: true
          fail_ci_if_error: true
          verbose: true

      - name: Upload coverage (quiz-service)
        uses: codecov/codecov-action@v5
        with:
          files: ./packages/quiz-service/coverage/lcov.info
          flags: quiz-service
          name: quiz-service
          disable_search: true
          fail_ci_if_error: true
          verbose: true
